{% extends "socialaccount/base.html" %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="signup container">
    <div class="col-sm-8">
        <h2>{% trans "Sign Up" %}</h2>

        <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
    
{% comment %}
            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default:"" }}" />

                    {% if form.username.errors %}
                    <ul class="error">
                        {% for error in form.username.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
{% endcomment %}
        
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default:"" }}" />

                    {% if form.email.errors %}
                    <ul class="error">
                        {% for error in form.email.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default:"" }}" />

                    {% if form.first_name.errors %}
                    <ul class="error">
                        {% for error in form.first_name.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value|default:"" }}" />

                    {% if form.last_name.errors %}
                    <ul class="error">
                        {% for error in form.last_name.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.role.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right">{{ form.role.label }}</label>
                <div class="col-sm-9">
                    {% for choice,label in form.role.field.choices %}
                    <label class="radio {% if form.role.value = choice %}checked{% endif %}" for="{{ form.role.id_for_label }}_{{ choice }}" for="{{ form.role.id_for_label }}_{{ choice }}">
                        <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                        <input type="radio" name="{{ form.role.html_name }}" id="{{ form.role.id_for_label }}_{{ choice }}" value="{{ choice }}"
                               {% if form.role.value = choice %}checked="checked"{% endif %}/>&nbsp;&nbsp;{{ label }}
                    </label>
                    {% endfor %}

                    {% if form.role.errors %}
                    <ul class="error">
                        {% for error in form.role.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.birthday.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.birthday.id_for_label }}">{{ form.birthday.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="{{ form.birthday.html_name }}" id="{{ form.birthday.id_for_label }}" value="{{ form.birthday.value|default:"" }}" />

                    {% if form.birthday.errors %}
                    <ul class="error">
                        {% for error in form.birthday.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.gender.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                <div class="col-sm-9 radio">
                    {% for choice,label in form.gender.field.choices %}
                    <label class="text-right" for="{{ form.gender.id_for_label }}_{{ choice }}">
                        <input type="radio" class="input" name="{{ form.gender.html_name }}" id="{{ form.gender.id_for_label }}_{{ choice }}" value="{{ choice }}" {% if form.gender.value = choice %}checked="checked"{% endif %}/>{{ label }}
                    </label>
                    {% endfor %}

                    {% if form.gender.errors %}
                    <ul class="error">
                        {% for error in form.gender.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="tel" name="{{ form.phone.html_name }}" id="{{ form.phone.id_for_label }}" value="{{ form.phone.value|default:"" }}"/>

                    {% if form.phone.errors %}
                    <ul class="error">
                        {% for error in form.phone.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.city.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="tel" name="{{ form.city.html_name }}" id="{{ form.city.id_for_label }}" value="{{ form.city.value|default:"" }}"/>

                    {% if form.city.errors %}
                    <ul class="error">
                        {% for error in form.city.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.state.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.state.id_for_label }}">{{ form.state.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="tel" name="{{ form.state.html_name }}" id="{{ form.state.id_for_label }}" value="{{ form.state.value|default:"" }}"/>

                    {% if form.state.errors %}
                    <ul class="error">
                        {% for error in form.state.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.country.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right" for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="tel" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}" value="{{ form.country.value|default:"" }}"/>

                    {% if form.country.errors %}
                    <ul class="error">
                        {% for error in form.country.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
            <div class="form-group {% if form.help_with.errors %}has-error{% endif %}">
                <label class="col-sm-3 text-right">{{ form.help_with.label }}</label>
                <div class="col-sm-9">
                    {% for choice,label in form.help_with.field.choices %}
                    <label class="checkbox {% if form.help_with.value = choice %}checked{% endif %}" for="{{ form.help_with.id_for_label }}_{{ choice }}">
                        <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                        <input type="checkbox" name="{{ form.help_with.html_name }}"
                               onclick="$(this).parent('label').toggleClass('checked', $(this).is(':checked'))" 
                               id="{{ form.help_with.id_for_label }}_{{ choice }}" value="{{ choice }}"
                               {% if form.help_with.value = choice %}checked="checked"{% endif %}/>{{ label }}
                    </label>
                    {% endfor %}

                    {% if form.help_with.errors %}
                    <ul class="error">
                        {% for error in form.help_with.errors %}
                        <li class="text-error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        
             <div class="pull-right">
                <button class="btn btn-success btn-lg" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div></br></br></br>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
