{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    
    <section class="forms login container">
        <header>
            <h2>Vamos pedalar?</h2>
            <p>Faça seu login para acessar seu painel de informações exclusivo.</p>
        </header>
        <form class="card" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            
            <fieldset>
                <legend>Faça seu login usando</legend>
                {# include "socialaccount/snippets/provider_list.html" with process="login" #}
                <div class="login-social">
                    <a href="#" class="facebook btn btn-default"><i class="fa fa-facebook"></i>Facebook</a>
                    <a href="#" class="google btn btn-default"><i class="fa fa-google-plus"></i></i>Google</a>
                    <a href="#" class="twitter btn btn-default"><i class="fa fa-twitter"></i>Twitter</a>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>{% trans 'or' %}</legend>

                <div class="form-group">
                    <label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
                    <input type="email" class="form-control" name="{{ form.login.html_name }}" id="{{ form.login.id_for_label }}" value="{{ form.login.value|default:'' }}" placeholder="{% trans 'E-Mail' %}" tabindex="1">
                    <i class="fa fa-envelope form-control-icon"></i>
                    <i class="fa fa-times form-control-feedback"></i>
                    {% if form.login.errors %}
                        {% for error in form.login.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>

                    <a class="forgot-password secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        
                    <input type="password" class="form-control" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" value="{{ form.password.value|default:'' }}" placeholder="{% trans 'Password' %}" tabindex="2" />
                    <i class="fa fa-lock form-control-icon"></i>
                    <i class="fa fa-times form-control-feedback"></i>
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="send-form btn btn-primary btn-block btn-lg primaryAction" type="submit" tabindex="3">{% trans "Sign In" %}</button>

            <p class="create-account">{% blocktrans %}Não tem uma conta? <a href="{{ signup_url }}">Cadastre-se</a>{% endblocktrans %}</p>
        </form>

        <p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
        Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>

    </section>

{% endblock %}
