{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section class="forms login container">
    <header>
        <h2>{% trans "Success!" %}</h2>
        <p>{% trans "Your password has been successfully changed" %}</p>
    </header>

    <div class="password text-center">

        <p><a href="{% url 'socialaccount_signup' %}">{% trans "Go back to site" %}</a></p>

    </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}
