{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section class="forms login container">
    <header>
        <h2>{% trans "Success" %}</h2>
        <p>{% trans "An e-mail has been sent to you with a reset password link" %}</p>
    </header>

    <div class="password success-message card">

        <p><b>{% trans "To change your account you should first" %}:</b></p>

        <ul class="list-unstyled">
            <li>{% trans "Check your e-mail" %}</li>
            <li>{% trans "Click on the link we sent you" %}</li>
        </ul>

        <p>{% trans "You are being redirected to the reset password page" %}.</p>

    </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}
