{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section class="forms login container">
    <header>
        <h2>{% trans "Reset your password?" %}</h2>
        <p>{% trans "Insert and confirm your new password below" %}:</p>
    </header>

    <form class="password card" id="password_form" method="post">
        {% csrf_token %}

        <div class="form-group {{ form.errors|yesno:'has-error,' }}">
            <label class="primary-label" for="new-password">{% trans "New Password" %}</label>
            <input class="form-control" type="password"
                   name="{{ form.password1.html_name }}"
                   id="new-password" value="" placeholder='{% trans "Insert your e-mail" %}'>
            <i class="fa fa-lock form-control-icon"></i>
            <span class="text-danger">{{ form.password1.errors.0 }}</span>
        </div>

        <div class="form-group {{ form.errors|yesno:'has-error,' }}">
            <label class="primary-label" for="confirm-new-password">{% trans "Confirm your password" %}</label>
            <input class="form-control" type="password"
                   name="{{ form.password2.html_name }}"
                   id="confirm-new-password" value="" placeholder='{% trans "Confirm your password" %}'>
            <i class="fa fa-lock form-control-icon"></i>
            <span class="text-danger">{{ form.password2.errors.0 }}</span>
        </div>

        <button class="send-form btn btn-primary btn-block btn-lg" type="submit">{% trans "Reset password" %}</button>

    </form>
</section>
{% endblock %}

{% block footer %}
{% endblock %}
