{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="forms login container">
    <header>
        <h2>Redefinir sua senha?</h2>
        <p>Digite e confirme sua nova senha nos campos abaixo:</p>
    </header>

    <form class="password card" id="password_form" method="post">
        {% csrf_token %}

        <div class="form-group {{ form.errors|yesno:'has-error,' }}">
            <label class="primary-label" for="new-password">Nova senha</label>
            <input class="form-control" type="text"
                   name="{{ form.password1.html_name }}"
                   id="new-password" value="" placeholder="Digite sua senha">
            <i class="fa fa-lock form-control-icon"></i>
            <span class="text-danger">{{ form.password1.errors.0 }}</span>
        </div>

        <div class="form-group {{ form.errors|yesno:'has-error,' }}">
            <label class="primary-label" for="confirm-new-password">Confirme sua senha</label>
            <input class="form-control" type="text"
                   name="{{ form.password2.html_name }}"
                   id="confirm-new-password" value="" placeholder="Confirme sua senha">
            <i class="fa fa-lock form-control-icon"></i>
            <span class="text-danger">{{ form.password2.errors.0 }}</span>
        </div>

        <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Redefinir senha</button>

    </form>
</section>
{% endblock %}

{% block footer %}{% endblock %}
