diff-match-patch==20121119
dj-database-url==0.3.0
django-allauth==0.24.1
django-autocomplete-light==3.1.5
django-braces==1.4.0
django-crispy-forms==1.4.0
django-db-mailer==2.1.0
django-debug-toolbar==1.9.1
django-environ==0.4.0
django-extensions==2.0.8
django-fieldsignals==0.1.1
django-filer==1.0.2
django-filter==1.1.0
django-import-export==0.4.5
django-modeltranslation==0.11
django-mptt==0.7.4
django-pipeline==1.4.2
django-polymorphic==0.7.1
django-rosetta==0.8.3
django-sitetree==1.4.0
django-suit==0.2.18
Django==1.9.13
djangorestframework==3.6.4
djrill==1.4.0
easy-thumbnails==2.2
fhurl==0.1.7
flake8==2.2.5
futures==2.2.0
ipdb==0.8
ipython==3.0.0
mccabe==0.3
microsofttranslator==0.5
oauthlib==0.7.2
pep8==1.6.2
Pillow==2.8.1
polib==1.0.6
psycopg2==2.7.6.1
py==1.4.26
pyflakes==0.8.1
pytest-django==2.7.0
pytest==2.6.4
python-memcached==1.58
python-openid==2.2.5
requests-oauthlib==0.4.2
requests==2.6.0
six==1.8.0
smarturls==0.1.4
sqlparse==0.1.14
tablib==0.14.0
Unidecode==0.4.18
Werkzeug==0.10.4
