<header>
    <h2>Esqueceu a senha?</h2>
    <p>Insira seu e-mail que enviaremos um link de redefinição de senha para você</p>
</header>

<form class="password card" id="password_form" method="post" action="#">

    <div class="form-group">
        <label class="primary-label" for="email">E-mail</label>
        <input class="form-control" type="email" name="" id="email" value="" placeholder="Digite seu e-mail">
        <i class="fa fa-envelope form-control-icon"></i>
    </div>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Redefinir senha</button>

    <p class="create-account">Não tem uma conta? <a href="{{ signup_url }}">Cadastre-se</a></p>

</form>
