<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0392175903107!2d-46.67026711904909!3d-23.531091834129548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce581d3c7750b1%3A0x2967be370a78fd7a!2sParque+da+%C3%81gua+Branca!5e0!3m2!1sen!2sbr!4v1428339661526" frameborder="0" style="border:0"></iframe></div>

<form class="signup fullscreen card" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <header>
        <h2>Quer marcar pontos avulsos?</h2>
        <p>Quer marcar outros pontos avulsos que não sejam rotas (ex: praças e parques) onde você poderia atender um pedido?</p>
    </header>
    <div class="form-inline">
        <div class="form-group add-address">
            <input class="form-control input-lg" type="text" id="help-points" placeholder="Adicione pontos de ajuda">
            <button class="btn btn-success btn-lg">
            <i class="fa fa-plus"></i></button>
        </div>
    </div>

    <ul class="addresses-list list-unstyled">
        <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
        <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
        <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
        <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
        <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
    </ul>

    <button class="btn btn-primary btn-block btn-lg" type="submit">Continuar</button>

</form>