{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeanjo container">
       
        <div class="row">

            <aside class="dashboard-sidebar col-md-3 col-md-offset-1">
                <div class="card">
                    <header class="profile">
                        <div class="profile-icon">
                            <img src="http://placehold.it/85x85" alt="Nome do Usuário">
                        </div>
                        <h2 class="profile-name">Fulano</h2>
                        <p class="profile-city">São Paulo - SP</p>
                    </header>
                    <nav class="sidebar-nav">
                        <ul class="list-unstyled">
                            <li><a href="#">Meus pedidos
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Recados
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Eventos</a></li>
                            <li><a href="#">Fórum de discussão</a></li>
                            <li><a href="#">Dicas para pedalar</a></li>
                            <li><a href="#">Editar cadastro</a></li>
                            <li><a href="#">Quero ser um Bike Anjo</a></li>
                        </ul>
                    </nav>            
                </div>
                <div class="sidebar-feedback">
                    <a href="#"><span>Como estamos pedalando?</span><br>
                    Envie seu feedback</a>
                </div>
            </aside>

            <section class="dashboard-content col-md-7">

                <div class="dashboard-header">
                    <select class="requests-filter form-control">
                        <option>Todos os pedidos</option>
                    </select>
                    <ul class="requests-label list-inline">
                        <li><i class="fa fa-times-circle"></i> Pedido Cancelado</li>
                        <li><i class="fa fa-comment"></i> Pedido Aberto</li>
                        <li><i class="fa fa-check-circle"></i> Pedido Finalizado</li>
                    </ul>
                </div>

                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Pedidos Atendidos (1)</h2>
                        <button type="button" class="card-button" aria-label="Informações">
                            <span aria-hidden="true"><i class="fa fa-info-circle"></i></span>
                        </button>
                        
                    </header>

                    <!-- New Request -->
                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-comment"></i> Pedido #000</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>00/00/0000</li>
                            <li>São Paulo</li>
                            <li>Evento Gratuito</li>
                        </ul>
                    </div>

                    <!-- Old Request -->
                    <div class="card-content old">
                        <h3 class="card-subtitle"><i class="fa fa-comment"></i> Pedido #000</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>00/00/0000</li>
                            <li>São Paulo</li>
                            <li>Evento Gratuito</li>
                        </ul>
                    </div>

                    <!-- Finished Request -->
                    <div class="card-content finished">
                        <h3 class="card-subtitle"><i class="fa fa-check-circle"></i> Pedido #000</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>00/00/0000</li>
                            <li>São Paulo</li>
                            <li>Evento Gratuito</li>
                        </ul>
                    </div>

                    <!-- Canceled Request -->
                    <div class="card-content canceled">
                        <h3 class="card-subtitle"><i class="fa fa-times-circle"></i> Pedido #000</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>00/00/0000</li>
                            <li>São Paulo</li>
                            <li>Evento Gratuito</li>
                        </ul>
                    </div>
                </article>

                <nav class="item-pagination">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-left"></i></span>
                            </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </section>


        </div>
        
    </section>
{% endblock %}