{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeangel container">
       
        <div class="row">

            <aside class="dashboard-sidebar col-md-3 col-md-offset-1">
                <div class="card">
                    <header class="profile">
                        <div class="profile-icon">
                            <img src="http://placehold.it/85x85" alt="Nome do Usuário">
                        </div>
                        <h2 class="profile-name">Fulano</h2>
                        <p class="profile-city">São Paulo - SP</p>
                    </header>
                    <nav class="sidebar-nav">
                        <ul class="list-unstyled">
                            <li><a href="#">Meus pedidos
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Recados
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Eventos</a></li>
                            <li><a href="#">Fórum de discussão</a></li>
                            <li><a href="#">Dicas para pedalar</a></li>
                            <li><a href="#">Editar cadastro</a></li>
                            <li><a href="#">Quero ser um Bike Anjo</a></li>
                        </ul>
                    </nav>            
                </div>
                <div class="sidebar-feedback">
                    <a href="#"><span>Como estamos pedalando?</span><br>
                    Envie seu feedback</a>
                </div>
            </aside>

            <section class="dashboard-content col-md-7">

                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="#"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a> Editar cadastro</h2>
                    </header>
                    <div class="card-content">
                        <form class="forms">
                            <div class="form-group">
                                <label class="primary-label">Há quanto tempo você pedala?</label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Menos de 1 ano</span>
                                </label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Entre 1 e 2 anos</span>
                                </label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Entre 2 e 4 anos</span>
                                </label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Mais de 4 anos</span>
                                </label>

                                {% if form.help_with.errors %}
                                    {% for error in form.help_with.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="primary-label">Você usa a bicicleta como meio de transporte?</label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Todos os dias</span>
                                </label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Só alguns dias da semana</span>
                                </label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Uma vez por semana/mês</span>
                                </label>
                                <label class="radio">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Não, só uso para lazer</span>
                                </label>

                                {% if form.help_with.errors %}
                                    {% for error in form.help_with.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="primary-label" for="participate">Participa de alguma iniciativa de bicicleta?</label>
                                <textarea class="form-control" rows="5" id="participate" placeholder="Descreva sua participação aqui"></textarea>

                                {% if form.help_with.errors %}
                                    {% for error in form.help_with.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="primary-label">Escolha como você pode ajudar</label>
                                <label class="checkbox">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="teach"><span class="text terms">Ensinando alguém a pedalar</span>
                                </label>
                                <label class="checkbox">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="escort"><span class="text terms">Acompanhando iniciantes nas pedaladas</span>
                                </label>
                                <label class="checkbox">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="recommend"><span class="text terms">Recomendando rotas mais seguras</span>
                                </label>
                                <label class="checkbox">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="events"><span class="text terms">Participando dos eventos dos Bikes Anjos</span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer save-config">
                        <button class="btn btn-success" type="submit">Salvar alterações</button>
                    </div>
                </article>

            </section>

        </div>
        
    </section>
{% endblock %}