{% extends "base.html" %}

{% block content %}
<section id="top" class="static wall-cards card-list">

    <section class="jumbotron">
        <div class="container">
            <h2>Nossas Campanhas</h2>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                <!-- card 1 -->
                <div class="card">
                    <div class="card-image" style="background-image: url('/media/events/10457684_259767407554018_8349838121987630531_o.jpg');">
                        <ul class="card-info">
                            <li class="card-date">
                                <i class="fa fa-bicycle"></i> 22 de Outubro
                            </li>
                        </ul>
                    </div>

                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#">De bike ao trabalho</a></h3>
                        <div class="card-info">
                            <p class="text">
                                Todo ano, no mês de maio, realizamos a campanha De Bike
                                ao Trabalho inspirado no Bike To Work Day, evento anual
                                em vários cantos do mundo para promover a bicicleta como
                                uma opção de transporte para o trablalho. No Brasil o
                                evento é realizado pelo Bike Anjo com a ajuda de muitos
                                parceiros, sendo realizado sempre na segunda sexta-feira
                                de Maio. Saiba mais sobre o De Bike ao Trabalho e como
                                se engajar aqui.
                            </p>
                        </div>             
                    </div>
                </div>

                <!-- card 2 -->
                <div class="card">
                    <div class="card-image" style="background-image: url('/media/events/10457684_259767407554018_8349838121987630531_o.jpg');">
                        <ul class="card-info">
                            <li class="card-date">
                                <i class="fa fa-bicycle"></i> 22 de Outubro
                            </li>
                        </ul>
                    </div>

                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#">De bike ao trabalho</a></h3>
                        <div class="card-info">
                            <p class="text">
                                O tradicional Dia Mudial sem Carro ocorre sempre no dia 22 de
                                Setembro e mobiliza pessoas do mundo todo para desestimular o
                                uso do carro e optar por se deslocar de forma mais sustentável.
                                O Bike Anjo não poderia ficar de fora dessa e tem mobilizado sua
                                rede para fazer ações em comum.
                            </p>
                        </div>             
                    </div>
                </div>

                <!-- card 3 -->
                <div class="card">
                    <div class="card-image" style="background-image: url('/media/events/10457684_259767407554018_8349838121987630531_o.jpg');">
                        <ul class="card-info">
                            <li class="card-date">
                                <i class="fa fa-bicycle"></i> 22 de Outubro
                            </li>
                        </ul>
                    </div>

                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#">De bike ao trabalho</a></h3>
                        <div class="card-info">
                            <p class="text">
                                O tradicional Dia Mudial sem Carro ocorre sempre no dia 22 de
                                Setembro e mobiliza pessoas do mundo todo para desestimular o
                                uso do carro e optar por se deslocar de forma mais sustentável.
                                O Bike Anjo não poderia ficar de fora dessa e tem mobilizado sua
                                rede para fazer ações em comum.
                            </p>
                        </div>             
                    </div>
                </div>

         



            </div>
        </div>
    </section>
</section>
{% endblock %}
