{% extends 'base.html' %}

{% block content %}

<section id="top" class="static about">
    <section class="jumbotron">
        <div class="container">
            <h2>Sobre Nós</h2>
        </div>
    </section>

    <nav class="navigation">
        <ul>
            <li><a href="#bloco-1">Bloco 1</a></li>
            <li><a href="#bloco-2">Bloco 2</a></li>
            <li><a href="#bloco-3">Bloco 3</a></li>
        </ul>
    </nav>


    <section id="bloco-1">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <header>
                    <h2>Bloco 1</h2>
                    <p>Exemplo de texto sub-texto para o título</p>
                </header>
                <div class="text">
                    <p>
                        Bikeanjo é uma rede de ciclistas apaixonad@s pela bicicleta que promove, mobiliza e
                        ajuda pessoas a começarem a utilizar esse veículo nas cidades. Acreditamos que a
                        bicicleta é uma ferramenta de transformação social e quanto mais gente, melhor serão
                        nossas cidade. 0=D.
                    </p>

                    <p>
                        Junte-se a nós e faça parte dessa rede incrível de voluntários por todo mundo que querem
                        buscar cidades melhores e mobilizar pessoas por meio da bicicleta.
                    </p>
                </div>

                <form class="text-center">
                    <p>
                        <button class="btn btn-primary">Exemplos de botão do site</button>
                    </p>
                    <p>
                        <button class="btn btn-info">Exemplos de botão do site</button>
                    </p>
                    <p>
                        <button class="btn btn-success">Exemplos de botão do site</button>
                    </p>
                    <p>
                        <button class="btn btn-warning">Exemplos de botão do site</button>
                    </p>
                    <p>
                        <button class="btn btn-danger">Exemplos de botão do site</button>
                    </p>
                    <p>
                        <button class="btn btn-default">Exemplos de botão do site</button>
                    </p>
                </form>
            </div>
        </div>
    </section>

    <section id="bloco-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>Bloco 2</h2>
                        <p>Exemplo de texto sub-texto para o título</p>
                    </header>
                    <div class="text">
                        <p>
                            Bem que gostaríamos de viver só de pedaladas, mas algumas coisinhas
                            que acontecem nos bastidores do Bike Anjo dependem de $$$$, como esse
                            próprio site que vocês está vendo, as pessoas que fazem a articulação
                            da nossa rede, além de muitas ações que organizamos.
                        </p>

                        <p>
                            Com novos recursos estamos sempre pensando em como expandir nossa
                            missão e amplificar nossas ações. Para isso, estamos planejando uma
                            forma fantástica de você poder apoiar o Bike Anjo concretamente,
                            entendendo como seu dinheiro pode ser utilizado na nossa organização.
                            Esperamos que isso saia em breve! 0=D
                        </p>

                        <p>
                            Enquanto isso, <a href="#" target="_blank">exemplo de link no texto</a>
                            nosso contato para você propor parcerias e abaixo nossas opções de doação
                            pelo pagseguro ou conta bancária, caso queira fazer uma doação esponânea.
                        </p>

                        <p>
                            Exemplos de cards simples:
                        </p>
                    </div>

                    <div class="row stretch">
                        <div class="card col-sm-5">
                            <h3 class="text-center">Doe online:</h3>
                            <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" class="text-center" method="post" target="_blank">
                                <input type="hidden" name="currency" value="BRL" />
                                <input type="hidden" name="receiverEmail" value="contato@bikeanjo.org" />
                                <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/209x48-doar-assina.gif"
                                       name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                            </form>
                        </div>

                        <div class="card col-sm-5">
                            <h3 class="text-center">Doe por depósito:</h3>
                            <p class="text-center text-ba">
                                Banco Itaú<br/>
                                Ag: 0300 - CC: 32822-6<br/>
                                Razão social: Associação Bike Anjo<br/>
                                CNPJ: 19.515.100/0001-89
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="bloco-3">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <header>
                    <h2>Bloco 3</h2>
                    <p>Exemplo de texto sub-texto para o título</p>
                </header>
                <div class="row">
                    <div class="col-sm-7 text">
                        <p>
                            O Bike Anjo não é uma ONG, mas sim uma rede com CNPJ. Entretanto,
                            acreditamos que, como qualquer associação, devemos ser transparentes
                            sobre a forma como registramos esse coletivo que está alcançando o
                            Brasil todo.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary">Baixe nosso estatuto</a>
                        </p>
                    </div>
                    <div class="col-sm-5 text">
                        <img src="/static/imgs/how-it-works-03.png" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-push-3 col-sm-6 card text">
                        <p class="text-center text-ba">
                            <b>Razão social:</b> Associação Bike Anjo<br/>
                            <b>CNPJ:</b> 19.515.100/0001-89<br/>
                            <b>Inscrição municipal:</b> 4897457-9<br/>
                            <b>Inscrição estadual:</b> isento
                        </p>

                        <p class="text-center text-ba">
                            <b>Endereço jurídico:</b><br/>
                            Rua Putumuju, 60 - Vila Madalena<br/>
                            São Paulo/SP - CEP: 05452-060
                        </p>

                        <p class="text-center text-ba">
                            <b>Endereço comercial:</b><br/>
                            Rua Simão Alvares, 781<br/>
                            Pinheiros - CEP: 05417-030
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Vejas os lugares onde temos atuado e
                <a href="#">Onde estamos</a></p>
            </div>
        </footer>
    </section>

</section>
{% endblock %}
