<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0392175903107!2d-46.67026711904909!3d-23.531091834129548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce581d3c7750b1%3A0x2967be370a78fd7a!2sParque+da+%C3%81gua+Branca!5e0!3m2!1sen!2sbr!4v1428339661526" frameborder="0" style="border:0"></iframe></div>

<header>
    <h2>Só mais uma coisinha</h2>
    <p>Cadastre sua rota considerando o ponto de partida '(A)' e chegada '(B)', a partir dessa informação vamos achar um bike anjo para te ajudar.</p>
</header>

<form class="signup card" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <div class="add-route">
        <div class="steps">
            
        </div>
        <div class="form-group">
            <label class="sr-only" for="departing-address">Local de partida</label>
            <input class="form-control input-lg" type="text" id="departing-address" placeholder="Local de partida">
            <label class="sr-only" for="destination-address">Local de destino</label>
            <input class="form-control input-lg" type="text" id="destination-address" placeholder="Local de destino">
        </div>
    </div>
    
    <button class="btn btn-primary btn-block btn-lg" type="submit">Continuar</button>

</form>