{% extends 'suit:admin/change_form.html' %}
{% load i18n admin_urls %}

{% block object-tools-items %}
{{ block.super }}
{% if original.get_previous_by_created_date %}
<li>
    <a href="{% url opts|admin_urlname:'change' original.get_previous_by_created_date.pk %}"
       class="historylink">&laquo;{% trans "Previous" %}</a>
</li>
{% endif %}
{% if original.get_next_by_created_date %}
<li>
    <a href="{% url opts|admin_urlname:'change' original.get_next_by_created_date.pk %}"
       class="historylink">{% trans "Next" %}&raquo;</a>
</li>
{% endif %}
{% endblock %}
