{% load i18n %}
{% load static %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script>if ( !django.jQuery ) { django.jQuery = window.jQuery }</script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>

<span class="data-inputs search-filter{% if spec.lookup_val or spec.used_parameters %} active{% endif %}">
    <input type="text" id="id_start_{{ field_name }}"
        class="vDateField"
        placeholder="Data inicial"
        value="{{ start_date }}" />
</span>

<span class="data-inputs search-filter{% if spec.lookup_val or spec.used_parameters %} active{% endif %}">
    <input type="text" id="id_end_{{ field_name }}"
        class="vDateField"
        placeholder="Data final"
        value="{{ end_date }}" />
</span>

<input type="hidden" name="{{ field_name }}" id="id_{{ field_name }}" value="{{choices.0.val}}" />

<script type="text/javascript">(function($){
    var regex = /^(\d\d)\/(\d\d)\/(20\d\d)$/;
    var $field = $("#id_{{ field_name }}");
    var $start = $("#id_start_{{ field_name }}");
    var $end = $("#id_end_{{ field_name }}");
    var $inputs = $("#id_start_{{ field_name }},#id_end_{{ field_name }}");

    $('{{choices.0.val}}'.split(',')).each(function(index, date){
        if( index === 0 ) {
            $start.val(date);
        } else if( index === 1 ) {
            $end.val(date);
        }
    });

    $inputs.on('blur focus change', function(evt) {
        var start = regex.test($start.val()) ? $start.val() : null;
        var end = regex.test($end.val()) ? $end.val() : null;

        if( start && end ) {
            $field.val(start + ',' + end);
        } else if( start ) {
            $field.val( start );
        } else if( end ) {
            $field.val( end );
        } else {
            $field.val( '' );
        }
    });
})(django.jQuery || window.jQuery);
</script>