//
// Common styles for all site
// --------------------------------------------------

//== Body background

body { 
    background-color: #f1f1f1;
}

//== Main Content Margin

.main-content {
    a {
        color: @brand-blue;
    }

    .btn {
        color: #fff;
    }
}

//== Buttons styles

.btn {
    font-weight: 600;
    text-transform: uppercase;
}

label.btn,
.forms label.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
}

.close {
    opacity: 0.9;
}

.has-error .radio .icons .first-icon,
.has-error .checkbox .icons .first-icon,
.has-error .radio .icons .second-icon,
.has-error .checkbox .icons .second-icon{
  border-color: #cc0000;
}


.ac_results {
    padding: 0px;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    position: absolute;
    box-shadow: 0 0 1px grey;
    max-height: 200px;

    ul {
        position: relative;
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        font: menu;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;

        &:nth-child(odd) {
            background-color: whitesmoke;
        }

        &:hover,
        &.ui-state-focus,
        &.ui-state-hover,
        &.ui-state-active {
            cursor: pointer;
            background-color: lightgray;
            color: white;
        }
    }

    .ui-menu-item a + a {
        float: right;
        clear: right;
    }
}

.switch.switch-wrapper {
    font-size: 17px;
    position: initial;

    label + & {
        margin-left: 5px;
    }
}

.text-ba {
    color: @brand-blue;
}

*[href] {
    cursor: pointer;
}

@media (min-width: @screen-sm-min) {
    .row.stretch {
        display: flex;
        align-content: stretch;

        .full-height {
            height: 100%;
        }
    }
}