
//
// Variables
// --------------------------------------------------

//== Colors
//
//## Brand colors for use across the site

@brand-blue:        #00aeef;
@brand-pink:        #e2206d;
@brand-orange:      #f26522;
@brand-green:       #8dc63f;
@brand-gray:        #565a5c;

@gray-base:         #364347;
@gray-light:        lighten(@gray-base, 30%); // #777
@gray-lighter:      lighten(@gray-base, 60%); // #eee

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @gray-base;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

//== Typography
//
//## Font-family

@font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-green;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color:              #fff;
@btn-default-bg:                 @brand-gray;
@btn-default-border:             transparent;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-green;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-blue;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-pink;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-orange;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        @gray-light;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    90px;
@navbar-default-border:            @gray-lighter;

// Navbar links
@navbar-default-link-color:                @gray-base;
@navbar-default-link-hover-color:          @brand-green;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @brand-green;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       @gray-lighter;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        @brand-green;
@navbar-default-toggle-border-color:       transparent;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-md-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);