//== Site navigation
// --------------------------------------------------

//## Footer / bottom navigation

.partners {
    margin-bottom: 30px;
    margin-top: 70px;
    ul {
        text-align: center;
    }
    h2 {
        color: @brand-gray;
        font-size: 24px;
        margin: 0 0 20px;
        text-align: center;
    }
}

.main-footer {
    background-color: @brand-gray;
    color: #fff;
   
    .nav-footer {
        font-size: 17px;
        font-weight: 700;
        margin: 0;
        padding: 90px 0;
        text-align: center;
        text-transform: uppercase;
        ul {
            font-size: 14px;
            font-weight: 400;
            margin: 15px 0 0;
            text-transform: none;
            li {
                margin: 0 0 10px 0;
            }
        }
        @media screen and (min-width: @screen-sm-min) {
            text-align: left;
        }
        li {
            margin-right: 40px;
            vertical-align: top;
            &:last-child {
                margin-right: 0;
            }
            @media screen and (max-width: @screen-xs-max) {
                display: block;
                margin-bottom: 15px;
                width: 100%;
            } 
        }
        a {
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid @gray-base;
        padding: 30px 0 20px;
        @media screen and (min-width: @screen-sm-min) {
            padding: 20px 0;
        }
        .credits {
            margin-top: 10px; 
            text-align: center;
            @media screen and (min-width: @screen-sm-min) {
                text-align: left;
            }
        }
    }
    .back-to-top {
        background: url('../imgs/ico-back-to-top.png');
        background-repeat: no-repeat;
        background-size: 40px;
        display: block;
        height: 40px;
        margin: 20px auto 20px;
        width: 40px;
        @media screen and (min-width: @screen-sm-min) {
            float: right;
            margin: 0;
        }
    }

    .langs-list {
        text-align: center;
        margin-top: 20px;

        .btn.flag {
            width: 48px;
            height: 48px;
            background: transparent url(../imgs/country-flags.png) no-repeat 0 0;
            color: transparent;
            border-radius: 25px;

            &.selected{
                box-shadow: 0 0 5px black;
            }

            &.pt-br {
                background-position: -289px -1px;
            }

            &.es {
                background-position: -3841px -1px;
            }

            &.en {
                background-position: -4321px -1px;
            }
        }
    }

}
