//== Site navigation
// --------------------------------------------------

//## Navbar / top navigation

.navbar {
    margin-bottom: 0;
    .site-logo {
        margin: 14px 15px;
        @media screen and (min-width: @screen-sm-min) {
            margin: 14px 0;
        }
        a {
            background: url('../imgs/logo-bike-anjo.png') no-repeat;
            background-size: 100%;
            display: block;
            height: 61px;
            width: 169px;
        }
    }
    .navbar-toggle {
        padding: 4px 10px;
        .icon-bar {
            width: 30px;
            height: 5px;
        }
        .icon-x {
            display: none;
            font-size: 45px;
            font-weight: bold;
            color: #8dc63f;
            line-height: 23px;
        }
        &.menu-active {
            .icon-bar {
                display: none;
            }
            .icon-x {
                display: block;
            }
        }
    }
    .navbar-collapse {
        @media screen and (max-width: @screen-sm-max) {
            padding: 15px;
            margin: 0;
        }
        .navigation {
            padding: 20px 0 35px;
            @media screen and (min-width: @screen-md-min) {
                float: right;
                margin: 19px 0 0;
                padding: 4px 10px;
                width: 750px;
            }
            .dropdown-menu {
                @media screen and (max-width: @screen-sm-max) {
                    background-color: transparent;
                    border: none;  
                    box-shadow: none;
                    float: none;
                    position: inherit;
                }
                @media screen and (min-width: @screen-md-min) {
                    background-color: @brand-green;
                    border: 0; 
                    &:before {
                        border-bottom: 10px solid @brand-green;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        content: "";
                        position: absolute;
                        left: 40px;
                        top: -9px;
                    }
                    a {
                        color: #fff;
                        font-size: 14px;
                        margin: 0 5px; 
                        padding: 5px 12px;
                        &:hover, &:active, &:focus, &.active {
                            background-color: darken(@brand-green, 10%);
                            color: #fff;
                        } 
                    }
                }
            }
        }
        .nav-pills {
            margin-bottom: 10px;
            @media screen and (min-width: @screen-md-min) {
                float: left;
                margin-bottom: 0px;
            }
            > li {
                float: none;
                @media screen and (min-width: @screen-md-min) {
                    float: left;
                    text-align: center;
                }
                a {
                    background-color: transparent;
                    color: @navbar-default-link-color;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 13px 12px;
                    text-transform: uppercase;
                    &:hover, &:focus, &:active, &.active {
                        color: @brand-green;   
                    }
                    .fa {
                        display: none;
                    }
                }
            }
        }
        .user-menu {
            @media screen and (min-width: @screen-md-min) {
                float: right;
            }
            > li a {
                padding: 0;
                .fa {
                    display: inline-block;
                    font-size: 18px;
                } 
                .user-icon {
                    border: 2px solid #fff; 
                    border-radius: 45px;
                    display: inline-block;
                    margin-right: 5px;
                    position: relative;
                    @media screen and (min-width: @screen-md-min) {
                        border-color: @brand-green; 
                        margin-left: 5px;
                    }
                    img {
                        border-radius: 45px;
                    }
                    .alert {
                        &.bubble {
                            background-color: @brand-red;
                            position: absolute;
                            right: -3px;
                            top: -3px;
                        }
                    }
                }
                .alert {
                    &.bubble {
                        background-color: @brand-red;
                        display: inline-block;
                    }
                }
            }
            .dropdown-menu {
                left: initial;
                right: 0;
                @media screen and (min-width: @screen-md-min) {
                    &:before {
                        left: initial;
                        right: 25px;
                    }
                }
                .btn {
                    margin: 5px 10px 5px;
                    padding: 0px 0px;
                    a:hover, a:focus, a:active, a.active {
                        background-color: transparent;
                    }
                }
            }
        }
        .divider {
            height: 1px;
            background: darken(@brand-green, 5%);
            margin: 20px 12px 35px;
            @media screen and (min-width: @screen-md-min) {
                display: none;
            }
        }
        .btn {
            font-size: 16px;
            padding: 10px 40px;
            margin: 0 auto;
            @media screen and (max-width: @screen-sm-max) {
                background-color: @brand-gray;
                font-size: 18px;
                font-weight: bold;
                margin: 0 12px;
            }
            @media screen and (min-width: @screen-md-min) {
                float: right;
                margin-left: 5px;
            }
            @media screen and (min-width: @screen-lg-min) {
                margin-left: 10px; 
            }
        }
        @media screen and (max-width: @screen-sm-max) {
            background-color: @brand-green;
            .nav-pills {
                > li {
                    a {
                        border-radius: 0;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 8px 12px;
                        &:hover, &:active, &:focus, &.active {
                            background-color: darken(@brand-green, 10%);
                            color: #fff;
                        }
                        .fa {
                            color: darken(@brand-green, 5%);
                            display: inline-block;
                            font-size: 20px;
                            line-height: 12px;
                            margin: 0 0 0 5px;
                        }
                    }
                }
                .dropdown-menu li a {
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
    } 
    &.navbar-forms {
        .site-logo {     
            width: 100% !important;   
            a {
                margin: 0 auto; 
            }
        }
    }
}

#navbar.cbp-spmenu-open {
    max-height: 100%;
    overflow-y: scroll;
}