//== Site navigation
// --------------------------------------------------

//## Navbar / top navigation

.navbar {
    margin-bottom: 0;
    .site-logo {
        margin: 14px 15px;
        @media scren and (min-width: @screen-xs-min) {
            margin: 14px 0;
        }
        a {
            background: url('../imgs/logo-bike-anjo.png');
            background-size: cover;
            display: block;
            height: 61px;
            width: 169px;
        }
    }
    .navbar-toggle {
        padding: 4px 10px;
        .icon-bar {
            width: 30px;
            height: 5px;
        }
    }
    .navbar-collapse {
        @media screen and (max-width: @screen-sm-max) {
            padding: 15px;
            margin: 0;
        }
        .navigation {
            padding: 20px 0 35px;
            @media screen and (min-width: @screen-md-min) {
                padding: 4px 10px;
                float: right;
                margin: 19px 0 0;
            }
            .dropdown-menu {
                @media screen and (max-width: @screen-sm-max) {
                    background-color: transparent;
                    border: none;  
                    box-shadow: none;
                    float: none;
                    position: inherit;
                }
                @media screen and (min-width: @screen-md-min) {
                    background-color: @brand-green;
                    border: 0; 
                    &:before {
                        border-bottom: 10px solid @brand-green;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        content: "";
                        position: absolute;
                        left: 40px;
                        top: -9px;
                    }
                    a {
                        color: #fff;
                        font-size: 14px;
                        margin: 0 5px; 
                        padding: 5px 12px;
                        &:hover, &:active, &:focus, &.active {
                            background-color: darken(@brand-green, 10%);
                            color: #fff;
                        } 
                    }
                }
            }
        }
        .nav-pills {
            margin-bottom: 10px;
            @media screen and (min-width: @screen-md-min) {
                float: left;
                margin-bottom: 0px;
            }
            > li {
                float: none;
                @media screen and (min-width: @screen-md-min) {
                    float: left;
                    text-align: center;
                }
                a {
                    background-color: transparent;
                    color: @navbar-default-link-color;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 13px 12px;
                    text-transform: uppercase;
                    &:hover, &:focus, &:active, &.active {
                        color: @brand-green;   
                    }
                    .fa {
                        display: none;
                    }
                }
            }
        }
        .divider {
            height: 1px;
            background: darken(@brand-green, 5%);
            margin: 20px 12px 35px;
            @media screen and (min-width: @screen-md-min) {
                display: none;
            }
        }
        .btn {
            font-size: 16px;
            padding: 10px 40px;
            margin: 0 auto;
            @media screen and (max-width: @screen-sm-max) {
                background-color: @brand-gray;
                font-size: 18px;
                font-weight: bold;
                margin: 0 12px;
            }
            @media screen and (min-width: @screen-md-min) {
                margin-left: 5px;
            }
            @media screen and (min-width: @screen-lg-min) {
                margin-left: 25px; 
            }
        }
        @media screen and (max-width: @screen-sm-max) {
            background-color: @brand-green;
            .nav-pills {
                > li {
                    a {
                        border-radius: 0;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 8px 12px;
                        &:hover, &:active, &:focus, &.active {
                            background-color: darken(@brand-green, 10%);
                            color: #fff;
                        }
                        .fa {
                            color: darken(@brand-green, 5%);
                            display: inline-block;
                            font-size: 20px;
                            line-height: 12px;
                            margin: 0 0 0 5px;
                        }
                    }
                }
                .dropdown-menu li a {
                    font-size: 16px;
                    font-weight: normal;
                }
            }
        }
    }
    &.navbar-forms {
        .navbar-header {
            float: none;
            width: 100%;
        }
        .site-logo {
            a {
                margin: 14px auto;
            }
        }
    }
}