.alert {
    &.bubble {
        background-color: #f00;
        border-radius: 15px;
        color: #fff;
        display: block;
        font-size: 11px;
        font-weight: bold;
        height: 15px;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -3px;
        text-align: center; 
        top: -3px;
        width: 15px;
    }
}