.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    margin: 0 auto;
    position: relative;

    &.fullscreen {
        margin-top: 20px;
    }
    &.photo {
        &.big {
            @media screen and (min-width: @screen-sm-min) {
                max-height: 325px;
            }
            .card-subtitle {
                font-size: 30px;
            }
            .card-info {
                max-height: 180px;
                @media screen and (min-width: @screen-md-min) {
                    max-height: 200px;
                }
            }
        }
        &.small {
            @media screen and (min-width: @screen-sm-min) {
                max-height: 237px;
            }
            .card-subtitle {
                font-size: 24px;
            }
            .card-info {
                @media screen and (min-width: @screen-sm-min) {
                    max-height: 45px;
                }
                @media screen and (min-width: @screen-lg-min) {
                    max-height: 70px;
                }
            }
        }
        .card-content {
            border: none; 
            padding: 20px;
            @media screen and (min-width: @screen-sm-min) {
                padding: 0 20px 0 0;
            }
        }
        .card-subtitle {
            margin-bottom: 15px;
            overflow: hidden;
            @media screen and (min-width: @screen-sm-min) {
                margin-top: 20px;
                margin-left: 265px;
                max-height: 65px;
            }
        }
        .card-info {
            margin: 0;
            font-size: 16px;
            overflow: hidden;
            @media screen and (min-width: @screen-sm-min) {
                margin-left: 265px;
            }
        }
        .card-footer {
            border-top: 1px solid lighten(@gray-lighter, 5%);
            @media screen and (min-width: @screen-sm-min) {
                margin-top: -41px;
            }
        }
    }
    &.list {
        .card-info {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media screen and (min-width: @screen-xs-min) {
                margin-left: 35px;
            }
        }
        .card-content {
            padding: 20px;
        }
    }
    .card-button {
        color: @brand-gray;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        margin: 15px 15px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        &:hover,
        &:focus {
            cursor: pointer;
        }
    }
    button.card-button {
        -webkit-appearance: none;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0;
    }
    .card-header {
        border-radius: 3px 3px 0 0;
        position: relative;
        &.negative {
            background-color: @brand-gray;
            .card-button, .card-title {  
                color: #fff;
            }
        }
    }
    .card-title {  
        font-size: 16px;
        font-weight: normal;
        margin: 0; 
        padding: 15px 20px;
        text-transform: uppercase;
    }
    .card-subtitle {
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        .fa {
            font-size: 20px;
            margin-right: 10px;
        } 
    }
    .card-content {
        border-bottom: 1px solid lighten(@gray-lighter, 5%);
        color: #000;
        overflow: hidden;
        width: 100%;
        &.old {
            .card-subtitle {
                color: @gray-darker;
            }  
        }
        &.finished {
            .card-subtitle {
                color: @gray-darker;
                .fa {
                    color: @brand-green;
                }
            } 

        }
        &.canceled  {
            .card-subtitle {
                color: @gray-darker;
                .fa {
                    color: @brand-red;
                }
            } 
        }
    }
    .card-info {
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
        &.list-info {
            li {
                border-right: 1px solid @gray;
                float: left;
                line-height: 1;
                padding: 0px 8px;
            }
            li:first-child {
                padding-left: 0;
            }
            li:last-child {
                border-right: 0;
            }

        }
    }
    .card-footer {
        .see-more-link {
            display: block;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 15px;
            text-align: right;
            text-transform: uppercase;
            .fa {
                margin-left: 5px;
            }
        }
    }
    .card-photo {
        display: none;
        @media screen and (min-width: @screen-sm-min) {
            display: block;
            float: left;
            img {
                border-radius: 3px 0px 0px 3px;
            }
        }
    }
}
