.forms {
    @media (min-width: @screen-sm-min) {
        width: 490px;
    }
    header {
        text-align: center;
    }
    h2 {
        color: @brand-blue;
        font-weight: 700;
    }
}

.form-box {
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
    margin: 0 auto;
    padding: 30px;
}

.questions {
    font-size: 14px;
    margin: 60px auto 0;
    text-align: center;
}