.forms {
    @media (min-width: @screen-sm-min) {
        width: 490px;
    }
    header {
        text-align: center;
        h2 {
            color: @brand-blue;
            font-size: 34px;
            font-weight: 600;
            margin-bottom: 0;
        }
        p {
            font-size: 16px;
        }
    }
}

.questions {
    font-size: 14px;
    margin: 60px auto 0;
    text-align: center;
}