.jumbotron {
    background-size: cover;
    color: #fff;
    margin-bottom: 0;
    h2 {
        font-family: 'Oswald', sans-serif;
        line-height: 150%;
        margin-top: 0;
        margin-bottom: 25px;
        text-align: center;
        text-transform: uppercase;
    }
    p {
        text-align: center;
    }
}