//== User dashboard
// --------------------------------------------------

//## Common styles for both dash boards

.dashboard {
    margin-top: 30px;

    .dashboard-sidebar {
        .card {
            margin-bottom: 20px;
            overflow: hidden;
        }
        .alert {
            &.bubble {
                display: inline-block;
                margin-left: 5px;
            }
        }
        .profile {
            background-repeat: no-repeat;
            border-radius: 3px 3px 0 0;
            overflow: hidden;
            .profile-icon {
                background-color: #fff;
                border: 3px solid #fff; 
                border-radius: 91px;
                height: 91px;
                margin: 15px auto 0;
                width: 91px;
                img {
                    border-radius: 85px;
                }
            }
            .profile-name, .profile-city {
                line-height: 1;
                margin: 0;
                text-transform: uppercase;
            }
            .profile-name {
                color: #000;
                font-size: 22px;
                margin-top: 5px;
                text-align: center;
            }
            .profile-city {
                color: @gray;
                text-align: center;
            }
        }
        .sidebar-nav {
            margin: 15px;
            @media screen and (min-width: @screen-md-min) {
                padding-top: 15px;
                border-top: 1px solid lighten(@gray-lighter, 5%);
            }
            ul {
                display: none;
                @media screen and (min-width: @screen-md-min) {
                    display: block;
                }
                li {
                    margin: 0 0 10px 10px;
                    a {
                        color: @gray-darker;
                        text-transform: uppercase;
                    } 
                }
            }
        }
        .sidebar-ask-help {
            font-size: 15px;
            margin-top: 10px;
            white-space: normal;
            width: 100%;
        }
    }
    .dashboard-content {
        .card {
            margin-bottom: 20px;
        }
        .reply {
            .btn {
                margin-top: 20px;
            }
        }
        .old-messages {
            .card-info {
                font-size: 14px;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .sidebar-feedback {
        display: none;
        @media screen and (min-width: @screen-md-min) {
            display: block;
        }
        a {
            background: url('../imgs/icon-bike-orange.png') no-repeat top center;
            color: @gray;
            display: block;
            padding-top: 45px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
        span {
            font-weight: 600;
        }
    }
    .dashboard-header {
        margin-bottom: 20px;
        overflow: hidden;
        .requests-filter {
            display: inline-block;
            float: left;
            width: inherit;
        }
        .requests-label {
            color: @gray-darker;
            float: right;
            font-size: 14px;
            margin-top: 10px;
            .fa {
                margin-right: 5px;
            }
        }
    }
    .dashboard-navigation {
        text-align: center;
        .pagination {
            font-size: 15px;
            margin: 0 0 30px;
            a {
                padding: 8px 16px;
            }
        }
    }
    .finish-request-modal {
        padding: 0 !important; 
        .modal-dialog {
            height: 440px;
            margin: 10px auto 0;
            max-width: 440px;
            text-align: center;
            @media screen and (min-width: @screen-xs-min) {
                margin-left: -220px;
                margin-top: -220px;
                position: absolute;
                left: 50%;
                top: 50%;
            }
        }
        .modal-header {
            border: 0;
            padding-bottom: 0;
            .modal-title {
                font-weight: 600;
                margin-top: 20px;
                text-align: center;

            }
        }
        .request-rating {
            label {
                background-size: contain;
                background-image: url('../imgs/ico-bike-gray.png');
                cursor: pointer;
                height: 25px;
                width: 44px;
                @media screen and (min-width: @screen-xs-min) {
                    height: 36px;
                    width: 64px;
                }
            }

            &.rating-1 label:nth-child(-n + 1){ background-image: url('../imgs/ico-bike-orange.png'); } 
            &.rating-2 label:nth-child(-n + 2){ background-image: url('../imgs/ico-bike-orange.png'); }
            &.rating-3 label:nth-child(-n + 3){ background-image: url('../imgs/ico-bike-orange.png'); }
            &.rating-4 label:nth-child(-n + 4){ background-image: url('../imgs/ico-bike-orange.png'); }
            &.rating-5 label:nth-child(-n + 5){ background-image: url('../imgs/ico-bike-orange.png'); }
            &.rating-6 label:nth-child(-n + 6){ background-image: url('../imgs/ico-bike-orange.png'); }
        }
        textarea {
            margin-bottom: 20px;
        }
    }
}

.dashboard {
    &.requester {
        .profile {
            background-image: url('../imgs/requester-profile-header.jpg');
        }
        .sidebar-feedback {
            a {
                background: url('../imgs/ico-bike-orange.png') no-repeat top center;
            }
            span {
                color: @brand-orange;
            }
        }
        .alert {
            &.bubble {
                background-color: @brand-orange;
            }
        }
        .dashboard-content {
            .reply {
                .card-title {
                    color: @brand-orange;
                }
            }
        }
        .card-subtitle {
            color: @brand-orange;
        }
        .card-footer {
            .see-more-link {
                color: @brand-orange;
            }
        }
        .finish-request-modal {
            .modal-header {
                .modal-title {
                    color: @brand-orange;
                }
            }
        }
    }
    &.bikeangel {
        .profile {
            background-image: url('../imgs/bikeangel-profile-header.jpg');
        }
        .sidebar-feedback {
            a {
                background: url('../imgs/ico-bike-blue.png') no-repeat top center;
            }
            span {
                color: @brand-blue;
            }
        }
        .alert {
            &.bubble {
                background-color: @brand-blue;
            }
        }
        .dashboard-content {
            .reply {
                .card-title {
                    color: @brand-blue;
                }
            }
        }
        .card-subtitle {
            color: @brand-blue;
        }
        .card-footer {
            .see-more-link {
                color: @brand-blue;
            }
        }
        .finish-request-modal {
            .modal-header {
                .modal-title {
                    color: @brand-blue;
                }
            }
        }
        .card.simple {
            h3 {
                color: @brand-blue;
            }
        }
    }
}
