//== Home
// --------------------------------------------------

//## Common styles for all home sections

.home {
    #top {
        padding-top: 0;

        h2 {
            max-width: 1140px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    section {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        header {
            h2 {
                font-size: 44px;
                margin-top: 0;
                margin-bottom: 5px;
            }
            p {
                color: #7d7d7d;
                font-size: 26px;
                font-weight: 300;
                line-height: 1;
            }
        }
        .box {
            h3 {
            font-size: 20px;
            font-weight: 700;
            margin-top: 0;
            text-transform: uppercase;
            }
            p {
                color: @gray-base;
                font-weight: 300;
                font-size: 16px;
            }
        }
        &.home .jumbotron {
            padding: 0;
            position: relative;
            
            #jumbotron-carousel {
                height: 100%;
                width: 100%;
                
                .carousel-inner, .carousel-inner .item {
                    height: 100%;
                    width: 100%;
                }
                .carousel-inner .item {
                    background-size: cover;
                    background-position: center;
                    filter: brightness(80%);

                    &.default {
                        background-position: top right;
                        filter: brightness(100%);
                    }
                }
            }

            .container {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

    //## Statistics section

    .statistics {
        height: 341px;
        padding: 0; 
        h2 {
            color: @brand-gray;
            font-size: 44px;
            margin: 35px 0 20px;
            @media screen and (min-width: @screen-sm-min) {
                margin: 30px 0 20px;
            }
            @media screen and (min-width: @screen-md-min) {
                margin: 60px 0 40px;
            }
        }
        .box {
            margin-bottom: 15px;
        }
        .number {
            color: @brand-green;
            display: block;
            font-size: 44px;
            font-weight: 700;
            line-height: 34px;
            @media screen and (min-width: @screen-xs-min) {
                font-size: 54px;
                line-height: 44px;
            }
            @media screen and (min-width: @screen-sm-min) {
                font-size: 64px;
                font-size: 54px;
            }
            @media screen and (min-width: @screen-md-min) {
                font-size: 84px;
                line-height: 74px;
            }
        }
        .info {
            color: @gray-light;
            display: block;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    //## Social section

    .social {
        padding-top: 0;
        .social-buttons {
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 30px 0;
        }
    }

    //## How it works section

    .how-it-works {
        .box {
            margin-bottom: 30px;
            @media screen and (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
                p {
                    max-width: 450px;
                    margin: 0 auto;
                }
            } 
            @media screen and (min-width: @screen-md-min) {
                margin-bottom: 0;
            }
        }
        .icon {
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            width: 100%;
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                background-size: 90%;
            }
        }
        .ask-help {
            .icon {
                background-image: url('../imgs/how-it-works-01.png');
            }
        }
        .find-help {
            .icon {
                background-image: url('../imgs/how-it-works-02.png');
            }
        }
        .community {
            .icon {
                background-image: url('../imgs/how-it-works-03.png');
            }
        }
        h2, h3 {
            color: @brand-blue;
        }
        .btn-success {
            border-radius: 0;
            font-weight: normal;
            margin-top: 20px;
            text-transform: none;
            @media (max-width: @screen-xs-min) {
                .btn-sm;
            }
            @media (min-width: @screen-sm-min) {
                .btn-lg;
            }
        }
    }

    //## Devices section

    .who-used {
        header {
            margin-bottom: 20px;
            h2 {
                color: @brand-green;
            }
        }

        #carousel-who-used {

        }

        .carousel-content { 
            overflow: hidden;
            .card {
                max-height: 440px;
                @media screen and (min-width: 360px) and (max-width: @screen-xs-min) {
                    height: 380px;
                }
                @media screen and (min-width: @screen-xs-min) {
                    min-height: 200px;
                }
                @media screen and (min-width: @screen-sm-min) {
                    height: 300px;
                }
                @media screen and (min-width: @screen-md-min) {
                    height: 250px;
                }
                @media screen and (min-width: @screen-lg-min) {
                    height: 230px;
                }
                margin: 43px 2px 2px 2px;
                padding-top: 43px;
            }
            .icon {
                border-radius: 86px;
                height: 86px;
                width: 86px;
                margin: -86px auto 0;
                img {
                    border-radius: 86px;
                }
            }
            .testimonial {
                font-size: 14px;
                margin-top: 20px; 
                @media screen and (min-width: @screen-xs-min) {
                    font-size: 17px;
                    margin: 20px 20px; 
                }
                @media screen and (min-width: @screen-sm-min) {
                    margin: 20px 40px; 
                }
            }
            .author {
                color: @brand-green;
                margin: 0;
                font-size: 14px;
                @media screen and (min-width: @screen-xs-min) {
                    font-size: 17px;
                }
            }
        }
        .carousel-control {
            background-image: none;
            color: #fff;
            height: 60px;
            margin-top: -30px;
            opacity: 1;
            text-shadow: none; 
            top: 50%;
            width: 45px;
            display: none;
            @media screen and (min-width: @screen-xs-min) {
                display: block;
            }
            .fa {
                font-size: 36px;
                margin-top: 6px;
            }
            &.right {
                background: url('../imgs/carousel-right.png') no-repeat right center;
                right: -14px;
                .fa {
                    margin-left: 7px;
                }
            }
            &.left {
                background: url('../imgs/carousel-left.png') no-repeat left center;
                left: -14px;
                .fa {
                    margin-right: 7px;
                }
            }
        }
        .carousel-indicators {
            margin: 10px 0 0 0;
            position: static;
            width: 100%;
            li {
                border: 0;
                background-color: @gray; 
                height: 8px;
                margin: 0 1px;
                width: 8px;
                &.active {
                    background-color: @brand-green;
                }
            }
        }
    }

    //## Subscribe section

    .subscribe {
        background-color: #eaeaea;
        h2 {
            color: @brand-pink;
        }
        p {
            color: #7d7d7d;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 30px;
            @media screen and (min-width: @screen-xs-min) {
                font-size: 28px;
                margin-bottom: 30px;
            }
        }
        form {
            input[type="email"] {
                border-color: #999;
                font-size: 18px;
                height: 55px;
                margin-bottom: 20px;
                @media screen and (min-width: @screen-xs-min) {
                    display: inline-block;
                    margin-bottom: 0;
                    margin-right: 10px;
                    width: 340px;
                }
                @media screen and (min-width: @screen-sm-min) {
                    width: 450px;
                }
            }
            input[type="submit"] {
                font-size: 22px;
                height: 55px;
                @media screen and (min-width: @screen-xs-min) {
                    display: inline-block;
                    //width: 100px;
                }
            }
        }
        .subscribe-success {
            margin: 43px 0 42px;
        }
    }
}

.circle-stats {
  display: table-cell;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
}

.circle-stats > small {
  display: block;
  font-size: 0.5em;
}
