//== How it Works
// --------------------------------------------------

.how-it-works {
    //## Common styles for all page sections
    section {
        .icon {
            background: center no-repeat;
            height: 270px;
            width: 100%;
        }
        .text {
            color: #7d7d7d;
            font-size: 20px;
            font-weight: 300;
            padding-top: 15px;
            text-align: center;
            @media screen and (min-width: @screen-sm-min) {
                padding-top: 70px;
                text-align: left;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }

    #learn-to-cycle {
        .icon {
            background-image: url('../imgs/how-it-works-page-01.png');
        }
    }

    #use-the-platform {
        .icon {
            background-image: url('../imgs/how-it-works-page-02.png');
        }
    }

    #bike-angel {
        .icon {
            background-image: url('../imgs/how-it-works-page-03.png');
        }
    } 
}
