{% load static %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<style type="text/css">
    body {margin: 0; padding: 0; min-width: 100%!important;}
    .content {width: 100%; max-width: 550px;}
</style>
</head>
<body yahoo bgcolor="#E3E3E3" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;">

<table bgcolor="#E3E3E3" border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="border-spacing: 0px;">
    <tbody>
        <tr>
            <td style="padding: 70px 0px;">
                <table class="content" align="center" border="0" cellpadding="0" cellspacing="0">
                     <tbody style="">
                        <tr>
                            <td align="center" style="padding: 0px 0px 20px;">
                                <img src="{% static 'imgs/email/logo-bikeanjo.png' %}">
                            </td>
                        </tr>{% block content %}
                        {% endblock %}<tr>
                            <td style="width: 100%;" align="center"><a href="#" style="font-weight: bold;display: inline-block; text-decoration: none; padding: 25px 0px; text-align: center; font-size: 16px; color: #898989;">Ver essa mensagem no navegador</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
