<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<style type="text/css">
    body {margin: 0; padding: 0; min-width: 100%!important;}
    .content {width: 100%; max-width: 550px;}
</style>
</head>
<body yahoo bgcolor="#E3E3E3" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;">

<table bgcolor="#E3E3E3" border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="border-spacing: 0px;">
    <tbody>
        <tr>
            <td style="padding: 70px 0px;">
                <table class="content" align="center" border="0" cellpadding="0" cellspacing="0">
                     <tbody style="">
                        <tr>
                            <td align="center" style="padding: 0px 0px 20px;">
                                <img src="img/logo-bikeanjo.png">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 20px 0px 15px;" bgcolor="#00AEEF">
                                <img src="img/new_msg.png">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" class="header" bgcolor="#FFFFFF">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="padding: 40px 0px 30px;"><img src="img/text_new_msg.png"></td>
                                        </tr>
                                        <tr>
                                            <td><p style="font-size: 17px; font-size: 18px; line-height: 28px; margin: 0; padding: 0 65px 30px; color: #999999;">Uma nova mensagem foi enviada para você em um dos pedidos de ajuda que você está atendendo:</p></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3 style="color: #3c4143; font-size: 20px; margin: 0; padding: 0px 0px 10px;">Oseias Hacklaber Unix Systems</h3>
                                                <p style="text-transform: uppercase; font-size: 14px; color: #3c4143; margin: 0; padding: 0 0 30px;">São Paulo - SP</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a style="display: inline-block; padding: 0 0 35px;" href="#">
                                                    <img style="max-width: 100%; display: inline-block;" src="img/button_view_new_msg.png">
                                                </a>
                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%;" align="center"><a href="#" style="display: inline-block; text-decoration: none; padding: 25px 0px; text-align: center; font-size: 16px; color: #898989;">Ver essa mensagem no navegador</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>



</body>
</html>
