{% extends 'emails/base_email.html' %}
{% load static %}

{% block content %}
<tr>
    <td align="center" style="padding: 20px 0px 15px;" bgcolor="#F26522">
        <img src="{% static 'imgs/email/wheel_default.png' %}">
    </td>
</tr>
<tr>
    <td style="text-align: center;" class="header" bgcolor="#FFFFFF">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="padding: 40px 0px 30px;"><img src="{% static 'imgs/email/text_oh_no.png' %}"></td>
                </tr>
                <tr>
                    <td><p style="font-size: 17px; font-size: 18px; line-height: 28px; margin: 0; padding: 0 65px 30px; color: #999999;">Infelizmente não achamos nenhum Bike Anjo para atender seu pedido, isso pode acontecer se não existir Bike Anjos disponíveis na sua região, ou se eles estão indisponíveis.</p></td>
                </tr>
                <tr>
                    <td><p style="font-size: 17px; font-size: 18px; line-height: 28px; margin: 0; padding: 0 65px 30px; color: #999999;">Vamos continuar procurando, mas enquanto isso você pode:</p></td>
                </tr>
                <tr>
                    <td>
                        <a href="#" style="font-weight: bold; font-size: 17px; padding: 10px 30px; color: #444444; display: block;">Conferir nossas dicas para pedalar</a>
                        <a href="#" style="font-weight: bold; font-size: 17px; padding: 10px 30px; color: #444444; display: block;">Conferir nossas dicas para pedalar</a>
                        <a href="#" style="font-weight: bold; font-size: 17px; padding: 10px 30px; color: #444444; display: block;">Conferir nossas dicas para pedalar</a>
                    </td>
                </tr>
                <tr>
                    <td><p style="font-size: 17px; font-size: 18px; line-height: 28px; margin: 0; padding: 25px 30px; color: #999999;">Acesse seu painel e confira todas essas opções:</p></td>
                </tr>
                <tr>
                    <td>
                        <a style="display: inline-block; padding: 0 0 35px;" href="#">
                            <img style="max-width: 100%; display: inline-block;" src="{% static 'imgs/email/button_view_oh_no.png' %}">
                        </a>
                  </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}
