{% extends 'emails/base_email.html' %}
{% load static %}

{% block content %}
<tr>
    <td align="center" style="padding: 20px 0px 15px;" bgcolor="#F26522">
        <img src="{% static 'imgs/email/wheel_default.png' %}">
    </td>
</tr>
<tr>
    <td style="text-align: center;" class="header" bgcolor="#FFFFFF">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="color: #F26522; font-size: 34px;padding: 40px 0px 30px; text-align: center;">Pedido Cancelado</td>
                </tr>
                <tr>
                    <td><p style="font-size: 17px; font-size: 18px; line-height: 28px; margin: 0; padding: 0 65px 30px; color: #999999; text-align: center;">Infelizmente seu pedido de ajuda:</p></td>
                </tr>
                <tr>
                    <td>
                        <h3 style="color: #3c4143; font-size: 20px; margin: 0; padding: 0px 0px 40px; text-align: center;">{{ helprequest.get_help_label }}</h3>
                    </td>
                </tr>
                <tr>
                    <td><p style="font-size: 17px; font-size: 18px; line-height: 28px; margin: 0; padding:0 30px 65px 30px; color: #999999; text-align: center;">Foi cancelado, o Bike Anjo teve algum problema ou não conseguiu te atender, nosso sistema automaticamente vai procurar outro Bike Anjo em até 15 dias</p></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}
