{% load i18n %}
<aside class="dashboard-sidebar col-md-3 col-md-offset-1">
    <div class="card">
        <header class="profile">
            <div class="profile-icon">
                <a href="{% url 'cyclist_dashboard' %}"><img src="{{ user.get_avatar_url }}"
                     width="85" height="85" 
                     title="{{ user.get_full_name }}"
                     alt="{% trans "Photo from" %} {{ user.get_full_name }}"/></a>
            </div>
            <h2 class="profile-name">{% firstof user.first_name user.username %}</h2>
            <p class="profile-city">{{ user.city }}</p>
        </header>
        <nav class="sidebar-nav">
            <ul class="list-unstyled">
                <li><a href="{% url 'cyclist_my_requests' %}">Meus pedidos
                {% if user.helpbikeanjo_set.unread.exists %}
                <span class="alert bubble">{{ user.helpbikeanjo_set.unread.count }}</span></a></li>
                {% endif %}
                <li><a href="{% url 'cyclist_new_requests' %}?filter=new">Novos pedidos</a></li>
                <li><a href="{% url 'dashboard_message_list' %}">Recados
                <span class="alert bubble">1</span></a></li>
                <li><a href="{% url 'dashboard_event_list' %}">Eventos</a></li>
                <li><a href="#">Fórum de discussão</a></li>
                <li><a href="#">Dicas para pedalar</a></li>
                <li><a href="{% url 'user_register' %}">Editar cadastro</a></li>
            </ul>
        </nav>            
    </div>
    <div class="sidebar-feedback">
        <a href="#"><span>Como estamos pedalando?</span><br>
        Envie seu feedback</a>
    </div>
</aside>
