<section class="partners container">
    <header>
        <h2>Parceiros</h2>
    </header>
    <ul class="list-inline">
        <li><a target="_blank" href="http://www.issomudaomundo.com.br/"><img src="/static/imgs/partner-01-itau.png" alt="Itaú"></a></li>
        <li><a target="_blank" href="http://www.uniaodeciclistas.org.br/"><img src="/static/imgs/partner-02-ucb.png" alt="UCB - União de Ciclistas do Brasil"></a></li>
        <li><a target="_blank" href="http://www.dutchcycling.nl/?page=News&view=detail&item=Dutch+Cycling+Embassy+supports+Brazilian+cycling+non-profit+organizations"><img src="/static/imgs/partner-03-dce.png" alt="DCE - Dutch Cycling Embassy"></a></li>
    </ul>
</section>

<footer class="main-footer">
    <div class="container">
        <ul class="nav-footer list-inline list-unstyled hidden-xs">
            <li><a href="#">Quem somos</a>
                <ul class="list-unstyled">
                    <li><a href="#">Como funciona</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Nossos projetos</a></li>
                    <li><a href="#">Parceiros</a></li>
                    <li><a href="#">Transparência</a></li>
                    <li><a href="#">Na imprensa</a></li>
                </ul>
            </li>
            <li><a href="#">O que fazemos</a>
                <ul class="list-unstyled">
                    <li><a href="#">O que temos feito</a></li>
                    <li><a href="#">Onde atuamos</a></li>
                    <li><a href="#">Nossas campanhas</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Dicas para quem quer pedalar</a></li>
                    <li><a href="#">Dicas para quem já pedala</a></li>
                </ul>
            </li>
            <li><a href="#">Apoie</a>
                <ul class="list-unstyled">
                    <li><a href="#">Apóie o Bike Anjo</a></li>
                </ul>
            </li>
            <li><a href="#">Contato</a>
                <ul class="list-unstyled">
                    <li><a href="#">Contato</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <!--li>Idioma
                <select class="form-control">
                    <option>PT</option>
                    <option>EN</option>
                    <option>ES</option>
                </select>
            </li>-->
        </ul>
        <div class="footer-bottom row hidden-xs">
            <div class="col-md-3 col-sm-4">
                <p class="credits">Bike Anjo - 2015 - Feito no Brasil</p>
            </div>
            <div class="col-md-6 col-sm-7">
                <ul class="social-buttons list-inline unstyled">
                    <li>
                        <a href="https://www.facebook.com/bikeanjo" class="facebook">
                        <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+bikeanjo/about" class="google">
                        <i class="fa fa-google-plus"></i><span class="sr-only">Google</span></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/bikeanjo" class="instagram">
                        <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/bikeanjo" class="twitter">
                        <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                        <i class="fa fa-youtube"></i><span class="sr-only">YouTube</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-1">
                <a href="#top" class="back-to-top"></a>
            </div>
        </div>
        <div class="footer-bottom visible-xs">

            <ul class="social-buttons list-inline unstyled">
                <li>
                    <a href="https://www.facebook.com/bikeanjo" class="facebook">
                    <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+bikeanjo/about" class="google">
                    <i class="fa fa-google-plus"></i><span class="sr-only">Google</span></a>
                </li>
                <li>
                    <a href="https://instagram.com/bikeanjo" class="instagram">
                    <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
                </li>
                <li>
                    <a href="https://twitter.com/bikeanjo" class="twitter">
                    <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                    <i class="fa fa-youtube"></i><span class="sr-only">YouTube</span></a>
                </li>
            </ul>

            <a href="#top" class="back-to-top"></a>

            <p class="credits">Bike Anjo - 2015 - Feito no Brasil</p>
        </div>
    </div>
</footer>
