{% load flatpages %}
{% load i18n %}

<section class="partners container">
    <header>
        <h2>{% trans "Partners" %}</h2>
    </header>
    <ul class="list-inline">
        <li><a target="_blank" href="http://www.issomudaomundo.com.br/"><img src="/static/imgs/partner-01-itau.png" alt="Itaú"></a></li>
        <li><a target="_blank" href="http://www.uniaodeciclistas.org.br/"><img src="/static/imgs/partner-02-ucb.png" alt="UCB - União de Ciclistas do Brasil"></a></li>
    </ul>
</section>

<footer class="main-footer">
    <div class="container">
        <ul class="nav-footer list-inline list-unstyled hidden-xs">
            {% get_flatpages '/about/' as about_pages %}
            {% if about_pages %}
            <li><a href="#">{% trans "Who we are" %}</a>
                <ul class="list-unstyled">
                    {% for page in about_pages %}
                        <li><a href="{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {% get_flatpages '/work/' as work_pages %}
            <li><a href="#">{% trans "What we do" %}</a>
                <ul class="list-unstyled">
                    {% for page in work_pages %}
                        <li><a href="{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'dashboard_event_list' %}">
                        {% trans "Events" %}</a></li>
                    <li><a href="{% url 'tips_list' %}">
                        {% trans "Cycling tips" %}</a></li>
                </ul>
            </li>

            {% get_flatpages '/support/' as support_pages %}
            {% if support_pages %}
            <li><a href="#">{% trans "Support us" %}</a>
                <ul class="list-unstyled">
                    {% for page in support_pages %}
                        <li><a href="{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            <li><a href="#">
                {% trans "Contact" %}</a>
                <ul class="list-unstyled">
                    <li><a href="{% url 'contact_view' %}">
                        {% trans "Contact" %}</a></li>
                </ul>
            </li>
            <li><a href="https://bikeanjo.org/blog/" target="_blank">Blog</a></li>
            <li>{% trans "Language" %}
                <form action="{% url 'set_language_view' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <select class="form-control" name="lang"
                            onchange="jQuery(this).parent('form').submit()">
                        {% for code,lang in languages %}
                        <option {% if request.LANGUAGE_CODE = code %}selected="selected"{% endif %}
                                value="{{ code }}">{{ lang }}</option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>
        <div class="footer-bottom row hidden-xs">
            <div class="col-md-3 col-sm-4">
                <p class="credits">Bike Anjo - {% now "Y" %} - {% trans "Made in Brazil" %}</p>
            </div>
            <div class="col-md-6 col-sm-7">
              <ul class="social-buttons list-inline unstyled">
                <li>
                  <a title="Bike Anjo no Facebook" href="https://www.facebook.com/bikeanjo" class="facebook" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
                </li>
                <li>
                  <a title="Bike Anjo no Instagram" href="https://instagram.com/bikeanjo" class="instagram" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
                </li>
                <li>
                  <a title="Bike Anjo no Twitter" href="https://twitter.com/bikeanjo" class="twitter" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
                </li>
                <li>
                  <a title="Bike Anjo no YouTube" href="https://www.youtube.com/user/bikeanjo" class="youtube" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-youtube"></i><span class="sr-only">YouTube</span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-1">
                <a href="#top" class="back-to-top"></a>
            </div>
        </div>
        <div class="footer-bottom visible-xs">

            <ul class="social-buttons list-inline unstyled">
              <li>
                <a title="Bike Anjo no Facebook" href="https://www.facebook.com/bikeanjo" class="facebook" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
              </li>
              <li>
                <a title="Bike Anjo no Instagram" href="https://instagram.com/bikeanjo" class="instagram" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
              </li>
              <li>
                <a title="Bike Anjo no Twitter" href="https://twitter.com/bikeanjo" class="twitter" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
              </li>
              <li>
                <a title="Bike Anjo no YouTube" href="https://www.youtube.com/user/bikeanjo" class="youtube" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-youtube"></i><span class="sr-only">YouTube</span></a>
              </li>
            </ul>

            <div class="langs-list">
                <form action="{% url 'set_language_view' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <select class="form-control" name="lang"
                            onchange="jQuery(this).parent('form').submit()">
                        {% for code,lang in languages %}
                        <option {% if request.LANGUAGE_CODE = code %}selected="selected"{% endif %}
                                value="{{ code }}">{{ lang }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            <a href="#top" class="back-to-top"></a>
            <p class="credits">Bike Anjo - {% now "Y" %} - {% trans "Made in Brazil" %}</p>
        </div>
    </div>
</footer>
