<footer>
    <div class="container">
        <ul class="social list-inline unstyled">
            <li>
                <a href="https://www.facebook.com/bikeanjo" class="facebook">
                <span class="sr-only">Facebook</span></a>
            </li>
            <li>
                <a href="https://plus.google.com/+bikeanjo/about" class="google">
                <span class="sr-only">Google</span></a>
            </li>
            <li>
                <a href="https://twitter.com/bikeanjo" class="twitter">
                <span class="sr-only">Twitter</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                <span class="sr-only">YouTube</span></a>
            </li>
        </ul>
        <ul class="nav-footer list-inline unstyled">
            <li>
                <a href="http://sistema.bikeanjo.com.br/pt-br/solicite-um-bikeanjo/">Peça um Bike Anjo</a>
            </li>
            <li>
                <a href="http://bikeanjo.org/novobikeanjo/">Seja um Bike Anjo</a>
            </li>
            <li>
                <a href="http://bikeanjo.org/blog/">Blog</a>
            </li>
            <li>
                <a href="http://bikeanjo.org/contato/">Contato</a>
            </li>
        </ul>
        <a href="#top" class="back-to-top"></a>
    </div>
</footer>
