<header>
    <h2>Redefinir sua senha?</h2>
    <p>Digite e confirme sua nova senha nos campos abaixo:</p>
</header>

<form class="password card" id="password_form" method="post" action="#">

    <div class="form-group">
        <label class="primary-label" for="new-password">Nova senha</label>
        <div class="input-wrapper">
            <input class="form-control" type="text" name="" id="new-password" value="" placeholder="Digite sua senha">
            <i class="fa fa-lock"></i>
        </div>
    </div>

    <div class="form-group">
        <label class="primary-label" for="confirm-new-password">Confirme sua senha</label>
        <div class="input-wrapper">
            <input class="form-control" type="text" name="" id="confirm-new-password" value="" placeholder="Confirme sua senha">
            <i class="fa fa-lock"></i>
        </div>
    </div>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Redefinir senha</button>

</form>
