<header>
    <h2>Faça parte dessa comunidade</h2>
    <p>Você pode pedir ajuda para pedalar ou ser um Bike Anjo</p>
</header>

<form class="password card" id="password_form" method="post" action="#">

    <div class="form-group">
        <button class="btn btn-warning btn-block btn-lg">Quero ajuda para pedalar</button><br>
        <button class="btn btn-success btn-block btn-lg">Já pedalo e quero ajudar</button>
    </div>

</form>

<p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
<i class="fa fa-times form-control-feedback"></i>
        Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>