<header>
    <h2>Como você pode ajudar?</h2>
    <p>Preencha os dados abaixo para que o nosso sistema consiga cruzar corretamente os pedidos de ajuda</p>
</header>

<form class="signup card" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}


    <div class="form-group">
        <label class="primary-label">Escolha como você pode ajudar</label>
        <label class="checkbox">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="teach"><span class="text terms">Ensinando alguém a pedalar</span>
        </label>
        <label class="checkbox">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="escort"><span class="text terms">Acompanhando iniciantes nas pedaladas</span>
        </label>
        <label class="checkbox">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="recommend"><span class="text terms">Recomendando rotas mais seguras</span>
        </label>
        <label class="checkbox">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="checkbox" name="events"><span class="text terms">Participando dos eventos dos Bikes Anjos</span>
        </label>
    </div>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Continuar cadastro</button>

</form>
