{% load i18n socialaccount %}
{% providers_media_js %}

<header>
    <h2>{% trans "Sign Up Now!" %}</h2>
    <p>{% trans "Join a community that believes in change through bicycles" %}</p>
</header>

<form class="signup card" id="signup_form" method="post" {% if action %}action="{% url action %}"{% endif %} autocomplete="off">
    {% csrf_token %}

    {% if form.errors and debug %}
    <div class="errors">
        <ul>{{ form.errors }}</ul>
    </div>
    {% endif %}

    {% if request.session.user_role == 'bikeanjo' %}
    <input type="hidden" name="next" value="{% url 'bikeanjo_account_signup_complete' %}" />
    {% endif %}

    {% if request.session.user_role == 'requester' %}
    <input type="hidden" name="next" value="{% url 'requester_account_signup_complete' %}" />
    {% endif %}

    {% if not sociallogin and not form.instance.id %}
    <fieldset>
        <legend>{% trans "Create your account with" %}</legend>
        {# include "socialaccount/snippets/provider_list.html" with process="login" #}
        <div class="login-social">
            {% for provider in socialaccount.providers reversed %}
             <a title="{{provider.name}}" class="{{provider.id}} btn btn-default"
                href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
                ><i class="fa fa-{{provider.id}}"></i>{{provider.name}}</a>
            {% endfor %}
        </div>
    </fieldset>
    {% endif %}

    <fieldset {% if sociallogin or form.instance.id %}style="border:none"{% endif %}>
        {% if not sociallogin and not form.instance.id %}
        <legend>{% trans "Or create an account with your e-mail" %}</legend>
        {% endif %}
        <div class="form-group {% if form.full_name.errors %}has-error has-feedback{% endif %}">
            <label class="primary-label" for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>
            <input class="form-control" type="text" name="{{ form.full_name.html_name }}"
                id="{{ form.full_name.id_for_label }}" value="{{ form.full_name.value|default:"" }}"
                placeholder="{% trans "Your full name" %}">
            <i class="fa fa-user form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.full_name.errors %}
                {% for error in form.full_name.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <input class="form-control" type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}"
                value="{{ form.email.value|default:"" }}"
                placeholder="{% trans 'Type your e-mail' %}">
            <i class="fa fa-envelope-o form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.email2.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.email2.id_for_label }}">{{ form.email2.label }}</label>
            <input class="form-control" type="email2" name="{{ form.email2.html_name }}" id="{{ form.email2.id_for_label }}"
                value="{{ form.email2.value|default:"" }}"
                placeholder="{% trans 'Type your e-mail address again' %}">
            <i class="fa fa-envelope-o form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.email2.errors %}
                {% for error in form.email2.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.language.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.language.id_for_label }}">{{ form.language.label }}</label>
            <select class="form-control" id="{{ form.language.id_for_label }}" name="{{ form.language.html_name }}">
                {% for x,y in form.fields.language.choices %}
                    <option value="{{ x }}" {% if form.language.value == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <i class="fa fa-language form-control-icon"></i>
            {% if form.language.errors %}
                {% for error in form.language.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.country.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.country.id_for_label }}">{% trans 'Country' %}</label>
            <input class="form-control" type="text" 
                   autocomplete="off"
                   id="{{ form.country.id_for_label }}"
                   name="{{ form.country.html_name }}"
                   placeholder="{% trans "Your country name" %}"
                   ac-source="/api/countryalias"
                   ac-query-var="name"
                   ac-key-for-value="country_id"
                   ac-key-for-extra="country_name"
                   ac-initial-text="{{ form.instance.country.name }}"
                   ac-initial-value="{{ form.instance.country.id }}" />

            <i class="fa fa-globe form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.country.errors %}
                {% for error in form.country.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.city_alias.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.city_alias.id_for_label }}">{% trans "City" %}</label>

            <input class="form-control" type="text" autocomplete="off"
                   name="{{ form.city_alias.html_name }}"
                   id="{{ form.city_alias.id_for_label }}"
                   placeholder="{% trans "Your city name" %}"
                   ac-source="/api/cityalias"
                   ac-query-var="name"
                   ac-initial-text="{{ form.instance.city_alias.name }}"
                   ac-initial-value="{{ form.instance.city_alias.id }}"
                   ac-filter='{"city__country":function(){return $("[name={{ form.country.html_name }}]").val();} }' />

            <i class="fa fa-home form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.city_alias.errors %}
                {% for error in form.city.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        {% if form.password1 %}
        <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            <input class="form-control" type="password" name="{{ form.password1.html_name }}"
                id="{{ form.password1.id_for_label }}" value="{{ form.password1.value|default:"" }}"
                placeholder="{% trans "Insert your password" %}">
            <i class="fa fa-lock form-control-icon"></i>
                <i class="fa fa-times form-control-feedback"></i>
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        {% if form.password2 %}
        <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            <input class="form-control" type="password" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}"
                value="{{ form.password2.value|default:"" }}"
                placeholder="{% trans "Confirm your password" %}">
            <i class="fa fa-lock form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                <span class="text-danger">{{ form.password2.errors.0 }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </fieldset>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">{% trans "Sign Up" %}</button>
    <p class="create-account">{% trans "Already have an account?" %} <a href="{{ login_url }}">{% trans "Sign in" %}</a></p>

</form>

<p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
        <i class="fa fa-times form-control-feedback"></i>{% trans "Any Trouble or Questions?" %}<b> {% trans "Contact us!" %}</b></a></p>
