<header>
    <h2>Só mais alguns dados</h2>
    <p>Para melhorar seu cadastro vamos precisar só de mais alguns dados</p>
</header>

<form class="signup card" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <div class="form-group {% if form.gender.errors %}has-error{% endif %}">
        <label class="primary-label">{{ form.gender.label }}</label>
        <!-- {% for choice,label in form.gender.field.choices %}
        <div class="select-gender">
            <label class="radio {% if form.gender.value = choice %}checked{% endif %}" for="{{ form.gender.id_for_label }}_{{ choice }}" for="{{ form.gender.id_for_label }}_{{ choice }}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <input type="radio" name="{{ form.gender.html_name }}"
                    id="{{ form.gender.id_for_label }}_{{ choice }}" value="{{ choice }}"
                    {% if form.gender.value = choice %}checked="checked"{% endif %}/>
                    <span class="text">{{ label }}</span>
            </label>
        </div>
        {% endfor %} -->

        <div class="select-gender">
            <label class="radio">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Feminino</span>
            </label>
        </div>
        <div class="select-gender">
            <label class="radio">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Masculino</span>
            </label>
        </div>
        <div class="select-gender">
            <label class="radio">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time">
                <input type="text" class="form-control" name="" id="" value="" placeholder="Personalize">
            </label>
        </div>

        {% if form.gender.errors %}
            {% for error in form.gender.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group {% if form.birthday.errors %}has-error{% endif %}">
        <label class="primary-label" for="{{ form.birthday.id_for_label }}">{{ form.birthday.label }}</label>
        <div class="select-birthday">
            <select class="form-control">
                <option>Dia</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
            <select class="form-control">
                <option>Mês</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
            <select class="form-control">
                <option>Ano</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
        </div>
        {% if form.birthday.errors %}
            {% for error in form.birthday.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label class="primary-label">Há quanto tempo você pedala?</label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Menos de 1 ano</span>
        </label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Entre 1 e 2 anos</span>
        </label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Entre 2 e 4 anos</span>
        </label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="time"><span class="text">Mais de 4 anos</span>
        </label>

        {% if form.help_with.errors %}
            {% for error in form.help_with.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label class="primary-label">Você usa a bicicleta como meio de transporte?</label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Todos os dias</span>
        </label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Só alguns dias da semana</span>
        </label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Uma vez por semana/mês</span>
        </label>
        <label class="radio">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="transport"><span class="text">Não, só uso para lazer</span>
        </label>

        {% if form.help_with.errors %}
            {% for error in form.help_with.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label class="primary-label" for="participate">Participa de alguma iniciativa de bicicleta?</label>
        <textarea class="form-control" rows="5" id="participate" placeholder="Descreva sua participação aqui"></textarea>

        {% if form.help_with.errors %}
            {% for error in form.help_with.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Próximo</button>

</form>

<p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
        Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>