<header>
    <h2>Cadastre-se agora!</h2>
    <p>Junte-se a uma comunidade que acredita na transformação por meio da bicicleta</p>
</header>

<form class="signup card" id="signup_form" method="post" >
    {% csrf_token %}

    {% if form.errors and debug %}
    <div class="errors">
        <ul>{{ form.errors }}</ul>
    </div>
    {% endif %}

    <fieldset>
        <legend>Crie sua conta usando</legend>
        {# include "socialaccount/snippets/provider_list.html" with process="login" #}
        <div class="login-social">
            <a href="#" class="facebook btn btn-default"><i class="fa fa-facebook"></i>Facebook</a>
            <a href="#" class="google btn btn-default"><i class="fa fa-google-plus"></i></i>Google</a>
            <a href="#" class="twitter btn btn-default"><i class="fa fa-twitter"></i>Twitter</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>ou crie uma conta com seu e-mail</legend>
        <div class="form-group {% if form.first_name.errors %}has-error has-feedback{% endif %}">
            <label class="primary-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            <input class="form-control" type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default:"" }}" placeholder="Seu nome completo">
            <i class="fa fa-user form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            <input class="form-control" type="last_name" name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" value="{{ form.last_name.value|default:"" }}" placeholder="Digite seu e-mail">
            <i class="fa fa-envelope form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <input class="form-control" type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default:"" }}" placeholder="Confirme seu e-mail">
            <i class="fa fa-envelope-o form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.country.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
            <input class="form-control" type="tel" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}" value="{{ form.country.value|default:"" }}" placeholder="O nome do seu país">
            <i class="fa fa-globe form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.country.errors %}
                {% for error in form.country.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group {% if form.city.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
            <input class="form-control" type="tel" name="{{ form.city.html_name }}" id="{{ form.city.id_for_label }}" value="{{ form.city.value|default:"" }}" placeholder="O nome da sua cidade">
            <i class="fa fa-home form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.city.errors %}
                {% for error in form.city.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        {% if form.password1 %}
        <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            <input class="form-control" type="password" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" value="{{ form.password1.value|default:"" }}" placeholder="Digite sua senha">
            <i class="fa fa-lock form-control-icon"></i>
                <i class="fa fa-times form-control-feedback"></i>
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        {% if form.password2 %}
        <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            <input class="form-control" type="password" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" value="{{ form.password2.value|default:"" }}" placeholder="Confirme sua senha">
            <i class="fa fa-lock form-control-icon"></i>
            <i class="fa fa-times form-control-feedback"></i>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </fieldset>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Cadastre-se</button>

    <p class="create-account">Já faz parte? <a href="{{ login_url }}">Faça o login</a></p>

</form>

<p class="questions"><a href="#"><i class="fa fa-question-circle form-control-icon"></i>
<i class="fa fa-times form-control-feedback"></i>
        Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>
