<header>
    <h2>Cadastre-se agora!</h2>
    <p>Junte-se a uma comunidade que acredita na transformação por meio da bicicleta</p>
</header>

<form class="signup card" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <fieldset>
        <legend>Crie sua conta usando</legend>
        {# include "socialaccount/snippets/provider_list.html" with process="login" #}
        <div class="login-social">
            <a href="#" class="facebook btn btn-default"><i class="fa fa-facebook"></i>Facebook</a>
            <a href="#" class="google btn btn-default"><i class="fa fa-google-plus"></i></i>Google</a>
            <a href="#" class="twitter btn btn-default"><i class="fa fa-twitter"></i>Twitter</a>
        </div>
    </fieldset>
    <fieldset>
        <legend>ou crie uma conta com seu e-mail</legend>
        <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" value="{{ form.first_name.value|default:"" }}" placeholder="Seu nome completo">
                <i class="fa fa-user"></i>
            </div>
            {% if form.first_name.errors %}
            <ul class="error">
                {% for error in form.first_name.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default:"" }}" placeholder="Digite seu e-mail">
                <i class="fa fa-envelope"></i>
            </div>
            {% if form.email.errors %}
            <ul class="error">
                {% for error in form.email.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default:"" }}" placeholder="Confirme seu e-mail">
                <i class="fa fa-envelope-o"></i>
            </div>
            {% if form.email.errors %}
            <ul class="error">
                {% for error in form.email.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group {% if form.country.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="tel" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}" value="{{ form.country.value|default:"" }}" placeholder="O nome do seu país">
                <i class="fa fa-globe"></i>
            </div>
            {% if form.country.errors %}
            <ul class="error">
                {% for error in form.country.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-group {% if form.city.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="tel" name="{{ form.city.html_name }}" id="{{ form.city.id_for_label }}" value="{{ form.city.value|default:"" }}" placeholder="O nome da sua cidade">
                <i class="fa fa-home"></i>
            </div>
            {% if form.city.errors %}
            <ul class="error">
                {% for error in form.city.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% if form.password1 %}
        <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="text" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" value="{{ form.password1.value|default:"" }}" placeholder="Digite sua senha">
                <i class="fa fa-lock"></i>
            </div>
            {% if form.password1.errors %}
            <ul class="error">
                {% for error in form.password1.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}

        {% if form.password2 %}
        <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
            <label class="primary-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            <div class="input-wrapper">
                <input class="form-control" type="text" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" value="{{ form.password2.value|default:"" }}" placeholder="Confirme sua senha">
                <i class="fa fa-lock"></i>
            </div>
            {% if form.password2.errors %}
            <ul class="error">
                {% for error in form.password2.errors %}
                <li class="text-error">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </fieldset>

    <button class="send-form btn btn-primary btn-block btn-lg" type="submit">Cadastre-se</button>

    <p class="create-account">Já faz parte? <a href="{{ login_url }}">Faça o login</a></p>

</form>
