{% extends 'base.html' %}

{% block content %}

<section id="top" class="static about">
    <section class="jumbotron">
        <div class="container">
            <h2>Sobre Nós</h2>
        </div>
    </section>

    <nav class="navigation">
        <ul>
            <li><a href="#what-we-are">O que é Bike Anjo</a></li>
            <li><a href="how-we-organize">Como nos organizamos</a></li>
            <li><a href="#">Nossa história</a></li>
        </ul>
    </nav>


    <section id="what-we-are">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>O que é o Bike Anjo</h2>
                        <p>Conheça um pouco mais do nosso trabalho</p>
                    </header>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="icon"></div>
                        </div>
                        <div class="col-sm-7 text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur purus arcu, fringilla sed viverra ac, tristique id erat. Nam egestas purus et tincidunt pretium. Nam a accumsan nulla, in varius libero. Maecenas viverra volutpat accumsan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Vejas os lugares onde temos atuado e
                <a href="#">Onde estamos</a></p>
            </div>
        </footer>
    </section>

    <section id="how-we-organize">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>Como nos organizamos</h2>
                        <p>Navegue</p>
                    </header>

                    <div class=""><img src="http://placehold.it/750x400"></div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Vejas os lugares onde temos atuado e
                <a href="#">Onde estamos</a></p>
            </div>
        </footer>
    </section>

</section>
{% endblock %}
