{% extends 'base.html' %}

{% load i18n %}
{% block content %}

<section id="top" class="static about">
    <section class="jumbotron">
        <div class="container">
            <h2>{% trans "About us" %}</h2>
        </div>
    </section>

    <nav class="navigation">
        <ul>
            <li><a href="#what-we-are">{% trans "What is Bike Anjo" %}</a></li>
            <li><a href="#how-we-organize">{% trans "How are we organized" %}</a></li>
            <li><a href="#">{% trans "Our story" %}</a></li>
        </ul>
    </nav>


    <section id="what-we-are">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>{% trans "What is Bike Anjo" %}</h2>
                        <p>{% trans "Get to know a little more about us" %}</p>
                    </header>
                    <div class="row">
                        <iframe width="750" height="422" src="https://www.youtube.com/embed/FqBdAbNlKxo" frameborder="0" allowfullscreen></iframe>
                        <div class="text">
                            <p>
                                {% trans "Bike Anjo means in portuguese 'Bike Angel' (as a 'guardian angel'). It is a network of passionate cyclists that promotes, mobilizes and helps people getting started with cycling as a means of transportation in cities. We believe that cycling is a tool for social change and the more people ride, the better our cities will become!" %}
                            </p>

                            <p>{% trans "Long story short, Bike Anjo is" %}:</p>
                            <ul>
                                <li>{% trans "A chain of well doing" %}</li>
                                <li>{% trans "An organic, spontaneous, collaborative and voluntary based network" %}</li>
                                <li>{% trans "A community that spreads the word of the benefits of cycling" %}</li>
                                <li>{% trans "A community that makes dreams come true" %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>{% trans "Check out the places where we have been working" %} {% trans "and" %}
                <a href="#">{% trans "where are we now" %}</a></p>
            </div>
        </footer>
    </section>

    <section id="how-we-organize">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>{% trans "How are we organized" %}</h2>
                        <p>{% trans "We are like a bicycle, with several different parts that join together to work like one piece" %}.</p>
                    </header>

                    <div class="">
                        <iframe src="https://prezi.com/embed/siatvf-sep8q/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWklacTNtbFpjdVRkUlFZdXJPeWowY0hBYXRCd3ZoMWQ4VHhtbWRQM3dDMnUvZFJnRUgyRk81MXRWd0xZZHNPZzR6RHBBdWQra3o1N1JzR2h3d01xSUJxTnNsZlFBOUhKOGgyN2k1VGRDVm1VUT09&amp;landing_sign=Z6G-jOzzwzcbTvuS9s3xFToEqjLRZsJud3EGAiDnvHE#" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" id="iframe_container" frameborder="0" height="422" width="750"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>{% trans "Check out the places where we have been working" %} {% trans "and" %}
                <a href="#">{% trans "where are we now" %}</a></p>
            </div>
        </footer>
    </section>

</section>
{% endblock %}
