{% extends 'base.html' %}

{% block content %}

<section id="top" class="static about">
    <section class="jumbotron">
        <div class="container">
            <h2>Sobre Nós</h2>
        </div>
    </section>

    <nav class="navigation">
        <ul>
            <li><a href="#what-we-are">O que é Bike Anjo</a></li>
            <li><a href="#how-we-organize">Como nos organizamos</a></li>
            <li><a href="#">Nossa história</a></li>
        </ul>
    </nav>


    <section id="what-we-are">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>O que é o Bike Anjo</h2>
                        <p>Conheça um pouco mais do nosso trabalho</p>
                    </header>
                    <div class="row">
                        <iframe width="750" height="422" src="https://www.youtube.com/embed/FqBdAbNlKxo" frameborder="0" allowfullscreen></iframe>
                        <div class="text">
                            <p>Bikeanjo é uma rede de ciclistas apaixonad@s pela bicicleta que promove, mobiliza e ajuda pessoas a começarem a utilizar esse veículo nas cidades. Acreditamos que a bicicleta é uma ferramenta de transformação social e quanto mais gente, melhor serão nossas cidade. 0=D.</p>

                            <p>Então em suma, o Bikeanjo é:</p>
                            <ul>
                                <li>Uma corrente do bem</li>
                                <li>Uma rede orgânica, espontânea, colaborativa e voluntária</li>
                                <li>Difusores dos benefícios da bicicleta</li>
                                <li>Realizadore de sonhos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Vejas os lugares onde temos atuado e
                <a href="#">Onde estamos</a></p>
            </div>
        </footer>
    </section>

    <section id="how-we-organize">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>Como nos organizamos</h2>
                        <p>Nós somos como uma bicicleta, com diferentes peças que se encaixam par trabalharem juntas.</p>
                    </header>

                    <div class="">
                        <iframe src="https://prezi.com/embed/siatvf-sep8q/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWklacTNtbFpjdVRkUlFZdXJPeWowY0hBYXRCd3ZoMWQ4VHhtbWRQM3dDMnUvZFJnRUgyRk81MXRWd0xZZHNPZzR6RHBBdWQra3o1N1JzR2h3d01xSUJxTnNsZlFBOUhKOGgyN2k1VGRDVm1VUT09&amp;landing_sign=Z6G-jOzzwzcbTvuS9s3xFToEqjLRZsJud3EGAiDnvHE#" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" id="iframe_container" frameborder="0" height="422" width="750"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Vejas os lugares onde temos atuado e
                <a href="#">Onde estamos</a></p>
            </div>
        </footer>
    </section>

</section>
{% endblock %}
