{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeangel container">
       
        <div class="row">
            {% include '_bikeanjo_dashboard_sidebar.html' %}
            
            <section class="dashboard-content col-md-7">

                <form class="card list" method="post">{% csrf_token %}
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="#"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a> Alterar senha</h2>
                    </header>

                    <div class="card-content">
                        {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-times"></i></span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}

                        <div class="forms">
                            
                            <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                                <label class="primary-label" for="{{ form.old_password.id_for_label }}">Senha antiga</label>
                                <input class="form-control" type="password" name="{{ form.old_password.html_name }}" id="{{ form.old_password.id_for_label }}" value="{{ form.old_password.value|default:"" }}" placeholder="Digite sua senha">
                                <i class="fa fa-lock form-control-icon"></i>
                                    <i class="fa fa-times form-control-feedback"></i>
                                {% if form.old_password.errors %}
                                    {% for error in form.old_password.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                                <label class="primary-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                                <input class="form-control" type="password" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" value="{{ form.password1.value|default:"" }}" placeholder="Digite sua senha">
                                <i class="fa fa-lock form-control-icon"></i>
                                    <i class="fa fa-times form-control-feedback"></i>
                                {% if form.password1.errors %}
                                    {% for error in form.password1.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                                <label class="primary-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                                <input class="form-control" type="password" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" value="{{ form.password2.value|default:"" }}" placeholder="Confirme sua senha">
                                <i class="fa fa-lock form-control-icon"></i>
                                <i class="fa fa-times form-control-feedback"></i>
                                {% if form.password2.errors %}
                                    {% for error in form.password2.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer save-config">
                        <button class="btn btn-success" type="submit">Salvar alterações</button>
                    </div>
                </form>

            </section>

        </div>
        
    </section>
{% endblock %}
