{% extends "account/base.html" %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<section class="forms signup container">
<header>
    <h2>{% trans "How can you help?" %}</h2>
    <p>{% trans "Check the options bellow so that our system matches correctly with the requests received" %}</p>
</header>

<form class="signup card" id="signup_form" method="post">
    {% csrf_token %}

    {% if form.errors and debug %}
    <ul class="errors">
        {{ form.errors }}
    </ul>
    {% endif %}

    <div class="form-group">
        <label class="primary-label">{% trans "Choose how you can help" %}</label>
        {% for code,label,checked in form.get_help_choices %}
        <label class="checkbox {% if checked %}checked{% endif %}">
            <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
            <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
            <input type="checkbox" {% if checked %}checked="checked"{% endif %} value="{{ code }}">
            <span class="text terms">{{ label }}</span>
        </label>
        {% endfor %}

    </div>

    <input type="hidden" name="{{form.help_with.html_name}}"
           value="{{form.help_with.value|default:''}}"
           data-composed-bind="form.signup input[type=checkbox]"
           data-composed-bitoptions="true" />

           <button class="send-form btn btn-primary btn-block btn-lg" type="submit">{% trans "Continue registration process" %}</button>

</form>

<p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>{% trans "Any Trouble or Questions?" %} <b>{% trans "Contact us!" %}</b></a></p>
</section>
{% endblock %}
