{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
{% endblock %}

{% block js %}{{ block.super }}
<script type="text/javascript">L.Icon.Default.imagePath = '{% static 'imgs' %}';</script>
{% endblock %}


{% block content %}

    <section class="dashboard {{ user.role }} container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">

                <article class="card request">
                    <header class="card-header negative">
                        <a href="{% url 'cyclist_my_requests' %}" class="go-back"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a>
                        <ul class="card-actions list-inline">
                        {% if helprequest.status == 'open' %}
                            <li>
                                <a href="#" data-toggle="modal" data-target="#cancelRequest">
                                    <span class="text visible-xs">Cancelar</span>
                                    <span class="text hidden-xs">Cancelar Pedido</span>
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#finishRequest">
                                    <span class="text visible-xs">Já atendi</span>
                                    <span class="text hidden-xs">Já atendi o pedido</span>
                                    <i class="fa fa-check-circle"></i>
                                </a>
                            </li>
                        {% endif %}
                            <li>
                                <a href="#helpreply-form" data-toggle="collapse">
                                    <span class="text">Responder</span>
                                    <i class="fa fa-reply"></i>
                                </a>
                            </li> 
                        </ul>
                    </header>

                    <div class="card-content">
                        <div class="card-icon">
                            <img src="{{ helprequest.requester.get_avatar_url }}"
                                 width="50" height="50" 
                                 title="{{ helprequest.requester.get_full_name }}"
                                 alt="{% trans "Photo from" %} {{ helprequest.requester.get_full_name }}"/>
                        </div>
                        <h3 class="card-subtitle">{{ helprequest.get_help_label }}</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>{{ helprequest.requester.get_full_name }}</li>
                            <li>{{ helprequest.requester.city }}</li>
                            {# <li>{{ helprequest.created_date|date:'d/m/Y' }}</li> #}
                        </ul>

                        {% if helprequest.status = 'attended' %}
                        <div class="label-finished request-finished"><i class="fa fa-check-circle"></i> Pedido Atendido</div>
                        {% elif helprequest.status = 'finalized' %}
                        <div class="label-finished request-finished"><i class="fa fa-check-circle"></i> Pedido Finalizado</div>
                        {% elif helprequest.status = 'canceled' %}
                        <div class="label-canceled request-canceled"><i class="fa fa-times-circle"></i> Pedido Cancelado</div>
                        {% endif %}
                    </div>
                </article>

                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

                <div class="card">
                    <div class="card-content">
                        <div id="js-map" style="height: 150px"></div>

                        {% if helprequest.track %}
                            <p>
                                <small>{{helprequest.requester.track_set.reverse.first.start}}</small><br/>
                                <i class="fa fa-level-up fa-rotate-90"></i>&nbsp;
                                <small>{{helprequest.requester.track_set.reverse.first.end}}</small>
                            </p>
                            <input type="hidden" bikeanjo-geojson="lines" 
                                   value="[{{ helprequest.track.json }}]"/>                           
                       {% else %}
                            <ul class="fa-ul">
                            {% for point in helprequest.requester.point_set.all %}
                                <li><i class="fa fa-li fa-map-marker"></i>{{ point.address }}</li>
                            {% endfor %}
                            </ul>

                            <input type="hidden" bikeanjo-geojson="points" 
                                   value="[{% for point in helprequest.requester.point_set.all %}{{ point.json }}{% if not forloop.last %},{% endif %}{% endfor %}]"/>
                       {% endif %}
                    </div>
                </div>

                <form class="card reply collapse {{helprequest.helpreply_set.count|yesno:',in'}}" method="post" id="helpreply-form" action="{% url 'cyclist_request_reply' helprequest.id %}">
                    {% csrf_token %}
                    <header class="card-header">
                        <button type="button" data-toggle="collapse" data-target="#helpreply-form" 
                                class="card-button" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                        <div class="card-icon">
                            <img src="{{ user.get_avatar_url }}"
                                 width="30" height="30" 
                                 title="{{ user.get_full_name }}"
                                 alt="{% trans "Photo from" %} {{ user.get_full_name }}"/>
                        </div>
                        <h2 class="card-title">{{ user.get_full_name }}</h2>
                    </header>
                    <div class="card-content">
                        <textarea class="form-control" name="message" rows="5" placeholder="Enter text"
                        ></textarea>
                        <button class="btn btn-warning" type="submit">Enviar</button>
                    </div>
                </form>

                {% for helpreply in helprequest.helpreply_set.all %}
                <article class="card {% if not forloop.first %}old-messages{% endif %}">
                    <header class="card-header">
                            <div class="card-icon">
                                <img src="{{ helpreply.author.get_avatar_url }}"
                                     width="30" height="30" 
                                     title="{{ helpreply.author.get_full_name }}"
                                     alt="{% trans "Photo from" %} {{ helpreply.author.get_full_name }}"/>
                            </div>
                            <h2 class="card-title">{{ helpreply.author.get_full_name }}</h2>
                            <div class="card-date">{{ helpreply.created_date|date:'d/m/Y H:i' }}</div>

                        {% comment %}
                            <h2 class="card-title request-finished"><i class="fa fa-check-circle"></i> Pedido finalizado pelo Bike Anjo</h2>
                            <div class="card-date">{{ helpreply.created_date|date:'d/m/Y H:i' }}</div>
                        {% endcomment %}
                    </header>
                    <div class="card-content">
                        <p class="card-info">{{ helpreply.message }}</p>

                        {% if forloop.first %}
                            <div class="card-buttons">
                                <button data-toggle="collapse"
                                        data-target="#helpreply-form"
                                        class="btn btn-warning">Responder</button>
                            {% if helprequest.status == 'open' %}
                                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#finishRequest">Já atendi o pedido</a>
                                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#cancelRequest">Cancelar Pedido</a>
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
            </section>
        </div>

        <div class="modal fade dashboard-modal confirm-finish-request-modal" id="finishRequest" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Marcar esse pedido como atendido?</h4>
                    </div>
                    <form class="modal-body" method="POST">{% csrf_token %}               
                        <p>Tem certeza que deseja marcar esse pedido como atendido?</p>
                        <button name="status" value="attended" class="btn btn-success" type="submit">Marcar como atendido</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade dashboard-modal cancel-request-modal" id="cancelRequest" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Escolha o motivo do cancelamento</h4>
                    </div>
                    <div class="modal-body">
                        <p>Para encaminharmos e analisarmos melhor o pedido, escolha uma das opções abaixo</p>
                        <form method="post">{% csrf_token %}
                            <button name="status" value="new" class="btn btn-block btn-success" type="submit">Encaminhar para outro Bike Anjo</button>
                            <input type="hidden" name="reason" value="bikeanjo forwarded the request" />
                        </form>
                        <br/>
                        <form method="post">{% csrf_token %}
                            <button name="status" value="canceled" class="btn btn-block btn-success" type="submit">Não responde / Não quer ajuda</button>
                            <input type="hidden" name="reason" value="bikeanjo canceled the request due inactivity" />
                        </form>
                    </div>
                </div>
            </div>
        </div> 

    </section>

{% endblock %}
