{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section class="dashboard bikeangel container">
       
        <div class="row">
            {% include '_bikeanjo_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">

                <form class="card list" method="post">{% csrf_token %}
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="{% url 'user_register' %}"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a> Editar cadastro</h2>
                    </header>
                    <div class="card-content">
                        <div class="forms">
                            <div class="form-group">
                                <label class="primary-label">
                                    <span class="{% if form.ride_experience.errors %}text-danger{% endif %}">{% trans 'How long have you cycling?' %}</span>
                                </label>
                                
                                {% for value,label in form.ride_experience.field.choices %}
                                <label class="radio {% if form.ride_experience.value = value %}checked{% endif %}">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                                    <input type="radio" name="{{ form.ride_experience.html_name }}" value="{{ value }}"
                                           {% if form.ride_experience.value = value %}checked="checked"{% endif %}>
                                           <span class="text">{{ label }}</span>
                                </label>
                                {% endfor %}

                                {% if form.ride_experience.errors %}
                                    {% for error in form.ride_experience.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>


                            <div class="form-group">
                                <label class="primary-label">
                                    <span class="{% if form.bike_use.errors %}text-danger{% endif %}">{% trans 'Do you use the bicycle as a means of transportation?' %}</span>
                                </label>

                                {% for value,label in form.bike_use.field.choices %}
                                <label class="radio {% if form.bike_use.value = value %}checked{% endif %}">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                                    <input type="radio" name="{{ form.bike_use.html_name }}" value="{{ value }}"
                                           {% if form.bike_use.value = value %}checked="checked"{% endif %}>
                                           <span class="text">{{ label }}</span>
                                </label>
                                {% endfor %}

                                {% if form.bike_use.errors %}
                                    {% for error in form.bike_use.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="primary-label" for="participate">Participa de alguma iniciativa de bicicleta?</label>
                                <textarea class="form-control" name="{{form.initiatives.html_name}}" rows="5" id="participate" placeholder="Descreva sua participação aqui">{{ form.initiatives.value|default:'' }}</textarea>

                                {% if form.initiatives.errors %}
                                    {% for error in form.initiatives.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group" id="help-with">
                                <label class="primary-label">Escolha como você pode ajudar</label>
                                {% for code,label,checked in form.get_help_choices %}
                                <label class="checkbox {% if checked %}checked{% endif %}">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                                    <input type="checkbox" {% if checked %}checked="checked"{% endif %} value="{{ code }}">
                                    <span class="text terms">{{ label }}</span>
                                </label>
                                {% endfor %}

                                {% if form.help_with.errors %}
                                    {% for error in form.help_with.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <input type="hidden" name="{{form.help_with.html_name}}"
                                   value="{{form.help_with.value|default:''}}"
                                   data-composed-bind="#help-with input[type=checkbox]"
                                   data-composed-bitoptions="true" />
                        </div>
                    </div>
                    <div class="card-footer save-config">
                        <button class="btn btn-success" type="submit">Salvar alterações</button>
                    </div>
                </form>

            </section>

        </div>
        
    </section>
{% endblock %}
