{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup agreement" %}{% endblock %}

{% block content %}
    <section class="forms signup container">
    <header>
        <h2>Só mais uma coisinha</h2>
        <p>Aceite nossos termos e condições</p>
    </header>

    <form class="signup card" id="signup_form" method="post">
        {% csrf_token %}

        <div class="form-group {% if form.check1.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check1.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check1 }}<span class="text terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis vitae lacus a mollis. Ut at nulla sagittis, blandit dui a, aliquam leo. Nam et nulla vitae libero maximus luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec pulvinar diam auctor bibendum lobortis. Curabitur sed libero at ipsum malesuada ullamcorper quis et nibh. In consectetur eget dui ut consectetur. </span>
            </label>
        </div>
        <div class="form-group {% if form.check2.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check2.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check2 }}<span class="text terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis vitae lacus a mollis. Ut at nulla sagittis, blandit dui a, aliquam leo. Nam et nulla vitae libero maximus luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec pulvinar diam auctor bibendum lobortis. Curabitur sed libero at ipsum malesuada ullamcorper quis et nibh. In consectetur eget dui ut consectetur. </span>
            </label>
        </div>
        <div class="form-group {% if form.check3.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check3.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check3 }}<span class="text terms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis vitae lacus a mollis. Ut at nulla sagittis, blandit dui a, aliquam leo. Nam et nulla vitae libero maximus luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec pulvinar diam auctor bibendum lobortis. Curabitur sed libero at ipsum malesuada ullamcorper quis et nibh. In consectetur eget dui ut consectetur. </span>
            </label>
        </div>

        <button class="btn btn-primary btn-block btn-lg" type="submit"
                name="accepted_agreement" value="true">Aceitar</button>

    </form>

    <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>
        
    </section>
{% endblock %}
