{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Terms and Conditions" %}{% endblock %}

{% block content %}
    <section class="forms signup container">
    <header>
        <h2>{% trans "Just one more thing" %}</h2>
        <p>{% trans "Accept the Terms and Conditions" %}</p>
    </header>

    <form class="signup card" id="signup_form" method="post">
        {% csrf_token %}

        <div class="form-group {% if form.check1.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check1.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check1 }}<span class="text terms">{% trans "Entendo que os atendimentos realizados por mim como bike anjo devem ser gratuitos, não cabendo remuneração a título de contraprestação, nem havendo vínculo trabalhista ou qualquer outro." %}</span>
            </label>
        </div>
        <div class="form-group {% if form.check2.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check2.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check2 }}<span class="text terms">{% trans "Eu aceito os riscos (positivos ou negativos) associados a me encontrar com estranhos. Eu entendo que o Bike Anjo não seleciona os solicitantes que se cadastram nesta plataforma, portanto concordo em tomar as precauções sensatas, como faria encontrando qualquer nova pessoa por uma plataforma virtual, por exemplo marcando o primeiro encontro em um espaço público seguro." %}</span>
            </label>
        </div>
        <div class="form-group {% if form.check3.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check3.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check3 }}<span class="text terms">{% trans "Estou de acordo de que a minha segurança ao pedalar é de minha própria responsabilidade a todo o tempo, compreendendo os riscos envolvidos. Concordo em repassar essa segurança e conforto aos que solicitarem a minha ajuda como bike anjo." %}</span>
            </label>
        </div>
        <div class="form-group {% if form.check4.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check4.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check4 }}<span class="text terms">{% trans "Aceito a isenção ao Bike Anjo de toda e qualquer responsabilidade por danos materiais, pessoais, morais, à imagem, ou de qualquer outra espécie, que venham a ser causados a mim ou aos meus bens enquanto trafego durante meus atendimentos como bike anjo, bem como posteriormente, quando estiver pedalando pelas vias autonomamente ou com outrem." %}</span>
            </label>
        </div>

        <button class="btn btn-primary btn-block btn-lg" type="submit"
                name="accepted_agreement" value="true">{% trans "Accept" %}</button>

    </form>

    <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>{% trans "Any Trouble or Questions?" %} <b>{% trans "Contact us!" %}</b></a></p>

    </section>
{% endblock %}
