{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeanjo container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                {% for message in messages %}
                <div class="alert alert-{{ message.level_tag }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

                {% if user.helpbikeanjo_set.open.exists %}
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Meus pedidos ({{user.helpbikeanjo_set.open.count}})</h2>
                        <button type="button" class="card-button" aria-label="Refresh">
                            <span aria-hidden="true"><i class="fa fa-info-circle"></i></span>
                        </button>
                    </header>
                    {% for helprequest in user.helpbikeanjo_set.open %}
                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-comment"></i> <a href="{% url 'cyclist_request_detail' helprequest.id %}">{{helprequest.get_help_label}}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>#{{ helprequest.id|stringformat:'04d' }}</li>
                            <li>{{ helprequest.requester.get_full_name }}</li>
                            <li>{{ helprequest.requester.city }}</li>
                            <li>{{ helprequest.created_date|date:'d/m/Y' }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                    <footer class="card-footer">
                        <a class="see-more-link" href="{% url 'cyclist_my_requests' %}">Ver todos <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}

                {% if user.helpbikeanjo_set.matching.exists %}
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Novos pedidos ({{user.helpbikeanjo_set.matching.count}})</h2>
                        <button type="button" class="card-button" aria-label="Refresh">
                            <span aria-hidden="true"><i class="fa fa-info-circle"></i></span>
                        </button>
                    </header>
                    {% for helprequest in user.helpbikeanjo_set.matching.all %}
                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-user-plus"></i> <a href="{% url 'cyclist_request_detail' helprequest.id %}">{{helprequest.get_help_label}}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>#{{ helprequest.id|stringformat:'04d' }}</li>
                            <li>{{ helprequest.requester.get_full_name }}</li>
                            <li>{{ helprequest.requester.city }}</li>
                            <li>{{ helprequest.created_date|date:'d/m/Y' }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                    <footer class="card-footer">
                        <a class="see-more-link" href="{% url 'cyclist_new_requests' %}?filter=new">Ver todos<i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}

                {% if unread.events.count %}
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Eventos na sua cidade</h2>
                    </header>

                    {% for event in unread.events.all|slice:':5' %}
                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-calendar-o"></i> <a href="{% url 'dashboard_event_detail' event.id %}">{{ event.title }}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>{{ event.start_date }}</li>
                            <li>{{ event.city }}</li>
                            <li>{{ event.price|default:'Evento Gratuito'}}</li>
                        </ul>
                    </div>
                    {% endfor %}

                    <footer class="card-footer">
                        <a class="see-more-link" href="#">Ver todos os eventos <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}

                <article class="card photo small">
                    <header class="card-header negative">
                        <h2 class="card-title">Dicas para ser bike anjo</h2>
                        <button type="button" class="card-button" aria-label="Refresh">
                            <span aria-hidden="true"><i class="fa fa-refresh"></i></span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="card-photo">
                            <img src="http://placehold.it/245x190">
                        </div>
                        <h3 class="card-subtitle"></i> Pedalada em prol do idoso</h3>
                        <p class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ipsum venenatis turpis efficitur fringilla ac vel urna.</p>
                    </div>
                    <footer class="card-footer">
                        <a class="see-more-link" href="#">Ver todas as dicas <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>

            </section>

        </div>
        
    </section>
{% endblock %}
