{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section class="dashboard bikeanjo container">

        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">

                <div class="dashboard-header">
                    <form method="get">
                        <select name="filter" class="requests-filter form-control"
                                onchange="this.parentElement.submit()">
                            <option>{% trans "All requests" %}</option>
                            <option {% if filter = 'new' %}selected{% endif %}
                                    value="new">{% trans "New requests" %}</option>
                            <option {% if filter = 'orphan' %}selected{% endif %}
                                    value="orphan">{% trans "Request without a bikeanjo" %}</option>
                        </select>
                    </form>
                    <ul class="requests-label list-inline">
                        <li><i class="fa fa-user"></i>{% trans "Request without a bikeanjo" %}</li>
                        <li><i class="fa fa-user-plus"></i>{% trans "New request" %}</li>
                    </ul>
                </div>

                {% if filter == 'new' and no_new_requests %}
                <article class="card simple" role="alert">
                    <button type="button" class="card-button" data-dismiss="card" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <h3>{% trans "There is no new requests" %}</h3>
                    <p>{% trans "There is some requests that could not be answered by the bike anjo or our system could not find out any close bike anjo to help, you can get requests like these as many as you can and help as many people as you can" %}.</p>
                </article>
                {% endif %}


                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">
                            {% if filter == 'new' and not no_new_requests %}
                            <span>{% trans "New requests" %}</span>
                            {% elif filter == 'new' and no_new_requests %}
                            <span>{% trans "Requests without a bikeanjo" %}</span>
                            {% elif filter == 'orphan' %}
                            <span>{% trans "Requests without a bikeanjo" %}</span>
                            {% else %}
                            <span>{% trans "All requests" %}</span>
                            {% endif %}
                            <span> ({{ helprequest_list.count }})</span>
                        </h2>
                    </header>

                    {% for hr in helprequest_list %}
                    <div class="card-content">
                        <h3 class="card-subtitle">
                            {% if hr.bikeanjo %}
                            <i class="fa fa-user-plus"></i>
                            {% else %}
                            <i class="fa fa-user"></i>
                            {% endif %}
                            <a href="{% url 'cyclist_new_request_detail' hr.id %}"><span> {{hr.get_help_label}}</span></a>
                        </h3>
                        <ul class="card-info list-info list-unstyled">
                            {# <li>#{{ hr.id|stringformat:'04d' }}</li> #}
                            <li>{{ hr.requester.get_full_name }}</li>
                            <li>{{ hr.requester.city.name }}</li>
                            {# <li>{{ hr.created_date|date:'d/m/Y' }}</li> #}
                        </ul>
                    </div>
                    {% endfor %}
                </article>

                {% if filter == 'new' and not no_new_requests %}
                <article class="card simple">
                    <h3><i class="fa fa-user"></i> {% trans "Requests without a bikeanjo" %}</h3>
                    <p>{% trans "There is some requests that could not be answered by the bike anjo or our system could not find out any close bike anjo to help, you can get requests like these as many as you   can and help as many people as you can" %}.</p>
                    <p class="text-center"><a href="{% url 'cyclist_new_requests' %}?filter=orphan" class="btn btn-success">{% trans "See requests without bikeanjo" %}</a></p>
                </article>
                {% endif %}

                {% if is_paginated %}
                <nav class="item-pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{% if filter %}&filter={{filter}}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-left"></i></span>
                            </a>
                        </li>
                        {% endif %}

                        {% for page in paginator.page_range %}
                        <li class="{% if page_obj.number = page %}active{% endif %}"><a href="?page={{ page }}{% if filter %}&filter={{filter}}{% endif %}">{{ page }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}{% if filter %}&filter={{filter}}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </section>

        </div>

    </section>
{% endblock %}
