{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeangel container">
       
        <div class="row">
            {% include '_bikeanjo_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Editar cadastro</h2>
                    </header>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'user_info_update' %}"><i class="fa fa-user-secret"></i> Dados pessoais</a></h3>
                        <div class="card-info">Nome, cidade, país, e-mail, senha, etc...</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#"><i class="fa fa-lock"></i> Senha</a></h3>
                        <div class="card-info">Cadastrar nova senha</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#"><i class="fa fa-bicycle"></i> Dados Bike Anjo</a></h3>
                        <div class="card-info">Como você pode ajudar, tempo de pedal, frequência, etc...</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#"><i class="fa fa-location-arrow"></i> Minhas rotas</a></h3>
                        <div class="card-info">Rotas onde você pode atender</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="#"><i class="fa fa-map-marker"></i> Pontos avulsos</a></h3>
                        <div class="card-info">Ponto avulsos onde você pode atender</div>
                    </div>
                </article>

            </section>

        </div>
        
    </section>
{% endblock %}
