{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Terms and Conditions" %}{% endblock %}

{% block content %}
    <section class="forms signup container">
    <header>
        <h2>{% trans "Just one more thing" %}</h2>
        <p>{% trans "Accept the Terms and Conditions" %}</p>
    </header>

    <form class="signup card" id="signup_form" method="post">
        {% csrf_token %}

        <div class="form-group {% if form.check1.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check1.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check1 }}<span class="text terms">{% trans "I understand that the services performed by me as a bike anjo volunteer must be free of charge, and no payment whatsoever may be made or requested, and I have no employment relationship or any other relationship with Bike Anjo." %}</span>
            </label>
        </div>
        <div class="form-group {% if form.check2.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check2.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check2 }}<span class="text terms">{% trans "I accept the risks (positive and negative) associated with meeting strangers. I understand that the Bike Anjo organization does not select the people who ask for help from a bike anjo volunteer on this platform. I therefore agree to take the necessary precautions, as I would do with any new person I meet on an online platform, for example, by scheduling the first meeting at a public and safe place." %}</span>
            </label>
        </div>
        <div class="form-group {% if form.check3.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check3.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check3 }}<span class="text terms">{% trans "I agree that my safety while riding a bicycle is of my own responsibility at all times, and I fully understand all risks involved. I agree to transfer the same notions of safety and comfort to those who request my help as a bike anjo volunteer." %}</span>
            </label>
        </div>
        <div class="form-group {% if form.check4.errors %}has-error{% endif %}">
            <label class="checkbox {% if form.check4.value %}checked{% endif %}">
                <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                <span class="icons"><span class="first-icon"></span><span class="second-icon fa fa-check"></span></span>
                {{ form.check4 }}<span class="text terms">{% trans "I agree to release Bike Anjo, the employees, contractors, volunteers and agents thereof from and against any and all claim or actions that I may have against them. I accept liability for any loss, injury or illness resulting from my preparation or participation during the activities as a bike anjo volunteer, as well as during my bicycle rides by myself or with others, aside from Bike Anjo." %}</span>
            </label>
        </div>

        <button class="btn btn-primary btn-block btn-lg" type="submit"
                name="accepted_agreement" value="true">{% trans "Accept" %}</button>

    </form>

    <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>{% trans "Any Trouble or Questions?" %} <b>{% trans "Contact us!" %}</b></a></p>

    </section>
{% endblock %}
