{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Contact" %}{% endblock %}

{% block content %}


<section id="top" class="static contact">
    
    <section class="jumbotron">
        <div class="container">
            <h2>{% trans "Contact" %}</h2>
        </div>
    </section>
    
    <div class="forms container">
        
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        <form class="" id="contact_form" method="post">
            {% csrf_token %}

            <fieldset>
                <div class="form-group">
                    <label class="primary-label" for="full-name">{% trans "Full name" %}</label>
                    <input class="form-control" type="text" name="{{form.name.html_name}}"
                           id="full-name" value="{{form.name.value|default:''}}" placeholder="{% trans "Your full name" %}">
                    <i class="fa fa-user form-control-icon"></i>

                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="primary-label" for="email">{% trans "E-mail" %}</label>
                    <input class="form-control" type="email" id="email"
                           name="{{ form.email.html_name }}"
                           value="{{ form.email.value|default:'' }}"
                           placeholder="{% trans "Type your e-mail" %}">

                    <i class="fa fa-envelope-o form-control-icon"></i>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="primary-label" for="subject">{% trans "How can we help?" %}</label>
                    <select class="form-control" id="subject" name="{{ form.subject.html_name }}" from-queryvar="subject">
                        <option>{% trans "Any trouble or question" %}</option>
                        <option>{% trans "Get help from a bike anjo" %}</option>
                        <option>{% trans "Press requests" %}</option>
                        <option>{% trans "I want to be part of Bike Anjo" %}</option>
                        <option>{% trans "I want to become a partner" %}</option>
                        <option>{% trans "Other" %}</option>
                    </select>
                    {% if form.subject.errors %}
                        {% for error in form.subject.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label class="primary-label" for="message">{% trans "Write your message" %}</label>
                    <textarea class="form-control" rows="7"
                              name="{{ form.message.html_name }}"
                              id="message"
                              placeholder="{% trans "Type your message" %}">{{ form.message.value|default:'' }}</textarea>

                    {% if form.message.errors %}
                        {% for error in form.message.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

            </fieldset>

            <div class="g-recaptcha" data-sitekey="6LcowbkaAAAAAMA7Slw4Y6RbxxXf7DIQei8uh1-e"></div>
            <div class="send-form">
                <button class="btn btn-primary btn-lg" type="submit">{% trans "Send message" %}</button>
            </div>

        </form>
    </div>

</section>
{% endblock %}
