{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Contact" %}{% endblock %}

{% block content %}

<section id="top" class="static contact">
    <section class="jumbotron">
        <div class="container">
            <h2>{% trans "Contact" %}</h2>
        </div>
    </section>

    <div class="forms container">

        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        <form class="" id="contact_form" method="post">
            {% csrf_token %}

            <fieldset>
                <div class="form-group">
                    <label class="primary-label" for="full-name">Nome completo</label>
                    <input class="form-control" type="text" name="full-name" id="full-name" value="" placeholder="Seu nome completo">
                    <i class="fa fa-user form-control-icon"></i>
                </div>

                <div class="form-group">
                    <label class="primary-label" for="email">E-email</label>
                    <input class="form-control" type="email"
                    name="{{ form.email.html_name }}" id="email" value="{{ form.email.value|default:'' }}"
                    placeholder="Digite seu e-mail">
                    <i class="fa fa-envelope-o form-control-icon"></i>
                </div>

                <div class="form-group">
                    <label class="primary-label" for="email">Como podemos te ajudar?</label>
                    <select class="form-control" name="{{ form.subject.html_name }}">
                        <option>Ajuda de um bike anjo</option>
                        <option>Pedido de imprensa</option>
                        <option>Quero fazer parte do bike anjo</option>
                        <option>Proposta de parceria</option>
                        <option>Dúvidas e informações</option>
                        <option>Outros</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="primary-label" for="email">Escreva sua mensagem</label>
                    <textarea class="form-control" rows="7"
                    name="{{ form.message.html_name }}" id="message" value="{{ form.message.value|default:'' }}"
                    placeholder="Digite seu e-mail"></textarea>
                </div>
            </fieldset>

            <div class="send-form">
                <button class="btn btn-primary btn-lg" type="submit">Enviar mensagem</button>
            </div>

        </form>
    </div>

</section>
{% endblock %}
