{% extends "account/base.html" %}
{% load url from future %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var map_cfg = {
        {% if user and user.city %}
        "center": [{{user.city.point.get_y|stringformat:"f"}}, {{user.city.point.get_x|stringformat:"f"}}],
        {% endif %}

        {% if user and user.country %}
        "country": "{{ user.country.acronym }}",
        {% endif %}
    };
</script>

{{ block.super }}
<script type="text/javascript">L.Icon.Default.imagePath = '{% static 'imgs' %}';</script>
{% endblock %}

{% block content %}
<section class="forms signup container">

    <form class="signup fullscreen card" id="signup_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if view.kwargs.context == 'dashboard' %}
            <header class="card-header negative">
                <a href="{% url 'user_register' %}" class="go-back"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a>
                <span class="go-back">{% trans "My Routes" %}</span>
            </header>

            <p>{% trans "Register as many routes as you want considering point '(A)' as your start and point '(B)' as your destination. These routes will define where you can help new cyclists" %}.</p>
        {% else %}
            {% if user.role == 'bikeanjo' %}
                <header>
                    <h2>{% trans "Register your routes" %}</h2>
                    <p class="visible-xs">{% trans "Register as many routes as you want considering point '(A)' as your start and point '(B)' as your destination" %}.</p>
                    <p class="hidden-xs">{% trans "Register as many routes as you want considering point '(A)' as your start and point '(B)' as your destination. These routes will define where you can attend   to requests" %}</p>
                </header>
            {% endif %}

            {% if user.role == 'requester' %}
                <header>
                    <h2>{% trans "What is your route?" %}</h2>
                    <p class="visible-xs">{% trans "Register your route considering point '(A)' as your start and point '(B)' as your destination" %}.</p>
                    <p class="hidden-xs">{% trans "Register your route considering point '(A)' as your start and point '(B)' as your destination, and we will find a bike anjo to help you" %}.</p>
                </header>
                {% if view.get_redirect_field_name not in request.GET %}
                    <input type="hidden" name="next" value="{% url 'cyclist_register_points' %}" />
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="add-route">
            <div class="steps"></div>
            <div class="form-group">
                <label class="sr-only" for="departing-address">{% trans "Starting point" %}</label>
                <input class="form-control input-lg" type="text" id="departing-address" placeholder="{% trans "Starting point" %}"
                       bikeanjo-track="start"/>
                <label class="sr-only" for="destination-address">{% trans "Destination point" %}</label>
                <input class="form-control input-lg" type="text" id="destination-address" placeholder="{% trans "Destination point" %}"
                       bikeanjo-track="end"/>
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg" id="js-add-address" type="submit">{% trans "Continue" %}</button>

    </form>

    <div class="map" id="js-map"></div>
    <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>{% trans "Any Trouble or Questions?" %} <b>{% trans "Contact us!" %}</b></a></p>
</section>
{% endblock %}
