{% extends "base.html" %}

{% load i18n %}
{% block content %}
    <section class="dashboard {{ user.role }} container">

        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">{% trans "Edit account" %}</h2>
                    </header>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'user_info_update' %}"><i class="fa fa-user-secret"></i> {% trans "Personal data" %}</a></h3>
                        <div class="card-info">{% trans "Name, city, country, e-mail, password, etc..." %}</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'user_password_change' %}"><i class="fa fa-lock"></i> {% trans "Password" %}</a></h3>
                        <div class="card-info">{% trans "Change password" %}</div>
                    </div>

                    {% if user.role == 'bikeanjo' %}
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'user_experience_update' %}"><i class="fa fa-bicycle"></i> {% trans "Bike anjo data" %}</a></h3>
                        <div class="card-info">{% trans "How you can help, cycling time, frequency, etc..." %}</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'cyclist_registered_routes' 'dashboard' %}"><i class="fa fa-location-arrow"></i> {% trans "My Routes" %}</a></h3>
                        <div class="card-info">{% trans "Routes where you can help" %}</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'cyclist_register_points' 'dashboard' %}"><i class="fa fa-map-marker"></i> {% trans "Pin points" %}</a></h3>
                        <div class="card-info">{% trans "Loose point where you can answer requests" %}</div>
                    </div>
                    {% endif %}
                </article>

            </section>

        </div>

    </section>
{% endblock %}
