{% extends "account/base.html" %}
{% load url from future %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
{% endblock %}

{% block js %}{{ block.super }}
<script type="text/javascript">L.Icon.Default.imagePath = '{% static 'imgs' %}';</script>
{% endblock %}

{% block content %}
<section class="forms signup container">
    <div class="map" id="js-map"></div>
    <form class="signup fullscreen card" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if user.cyclist.role == 'volunteer' %}
        <header>
            <h2>Quer marcar pontos avulsos?</h2>
            <p>Quer marcar outros pontos avulsos que não sejam rotas (ex: praças e parques) onde você poderia atender um pedido?</p>
        </header>
        {% endif %}

        {% if user.cyclist.role == 'requester' %}
        <header>
            <h2>Onde pode pedalar?</h2>
            <p>Adicione os pontos onde você pode pedalar, adicione quantos quiser</p>
        </header>
        {% endif %}

        <div class="form-inline">
            <div class="form-group add-address">
                <input bikeanjo-track="point" class="form-control input-lg" type="text" id="help-points" placeholder="Adicione pontos de ajuda">
                <button bikeanjo-add="point" class="btn btn-success btn-lg">
                <i class="fa fa-plus"></i></button>
            </div>
        </div>

        <ul class="addresses-list list-unstyled" bikeanjo-list="points">
        {% comment %}
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
        {% endcomment %}
        </ul>

        <button class="btn btn-primary btn-block btn-lg" type="submit">Continuar</button>

    </form>
</section>
{% endblock %}
