{% extends "account/base.html" %}
{% load url from future %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
{% endblock %}

{% block js %}{{ block.super }}
<script type="text/javascript">L.Icon.Default.imagePath = '{% static 'imgs' %}';</script>
{% endblock %}

{% block content %}
<section class="forms {{view.kwargs.context}} container">
    <div class="map" id="js-map"></div>

    <div class="{{ view.kwargs.context }} fullscreen card">
        {% if view.kwargs.context == 'dashboard' %}
        <header class="card-header negative">
            <a href="{% url 'user_register' %}" class="go-back"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a>
            <span class="go-back">Minhas rotas</span>
        </header>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if view.kwargs.context == 'dashboard' %}
                <input type="hidden" name="{{view.get_redirect_field_name}}" value="{% url 'cyclist_registered_routes' view.kwargs.context %}"/>
            {% endif %}

            {% if view.kwargs.context == 'signup' %}
                {% if 'created' in request.GET %}
                <header>
                    <h2>Rota Cadastrada!</h2>
                </header>
                {% endif %}

                <p>Você pode cadastrar mais rotas ou continuar seu cadastro no site.</p>
            {% else %}
                <p>Você pode cadastrar quantas rotas quiser.</p>
            {% endif %}

            <label class="primary-label">Rotas Cadastradas</label>
            
            <ul class="addresses-list list-unstyled" bikeanjo-list="lines" id="js-addresses">
            {% comment %}
                <li>
                    <i class="fa fa-times"></i>
                    <span class="departing-address">Avenida Paulista, 1222</span>
                    <i class="fa fa-arrow-right"></i>
                    <span class="destination-address">Alameda Casa Branca, 159</span>
                </li>
                <li>
                    <i class="fa fa-times"></i>
                    <span class="departing-address">Avenida Paulista, 1222</span>
                    <i class="fa fa-arrow-right"></i>
                    <span class="destination-address">Alameda Casa Branca, 159</span>
                </li>
            {% endcomment %}
            </ul>
            <a href="{% url 'cyclist_register_routes' view.kwargs.context %}{% if get_redirect_field_name in request.GET %}?{{view.get_redirect_field_name}}={{view.get_redirect_url}}{% endif %}" class="btn btn-default btn-block btn-lg">Cadastrar nova rota</a>

            {% if view.kwargs.context == 'dashboard' %}
                <button class="btn btn-primary btn-block btn-lg" type="submit">Salvar Alterações</button>
                <input type="hidden"
                       name="{{view.get_redirect_field_name}}"
                       value="{% url 'cyclist_registered_routes' view.kwargs.context %}"/>
            {% else %}
                <button class="btn btn-primary btn-block btn-lg" type="submit">Continuar</button>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}
