{% extends "account/base.html" %}
{% load url from future %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>
{% endblock %}

{% block js %}{{ block.super }}
<script type="text/javascript">L.Icon.Default.imagePath = '{% static 'imgs' %}';</script>
{% endblock %}

{% block content %}
<section class="forms signup container">

    <form class="signup fullscreen card" method="post">
        {% csrf_token %}

        {% if view.kwargs.context == 'dashboard' %}
            <header class="card-header negative">
                <a href="{% url 'user_register' %}" class="go-back"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a>
                <span class="go-back">Pontos avulsos</span>
            </header>
            <p>Marque outros pontos avulsos que não sejam rotas (ex: praças e parques) onde você poderia atender um pedido.</p>
        {% else %}
            {% if user.role == 'bikeanjo' %}
            <header>
                <h2>Quer marcar pontos avulsos?</h2>
                <p>Quer marcar outros pontos avulsos que não sejam rotas (ex: praças e parques) onde você poderia atender um pedido?</p>
            </header>
            {% endif %}

            {% if user.role == 'requester' %}
            <header>
                <h2>Onde pode pedalar?</h2>
                <p>Adicione os pontos onde você pode pedalar, adicione quantos quiser</p>
            </header>
            {% endif %}
        {% endif %}

        <div class="hidden">{{ form.as_p }}</div>
        <div class="form-inline">
            <div class="form-group add-address">
                <input bikeanjo-track="point" class="form-control input-lg" type="text" id="help-points" placeholder="Adicione pontos de ajuda">
                <button bikeanjo-add="point" class="btn btn-success">
                <i class="fa fa-plus"></i></button>

                {% if form.points.errors %}
                    {% for error in form.points.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <ul class="addresses-list list-unstyled" bikeanjo-list="points">
        {% comment %}
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
            <li><i class="fa fa-times"></i> Avenida Paulista, 1222 - São Paulo - SP</li>
        {% endcomment %}
        </ul>

        {% if not user.accepted_agreement %}
            <button class="btn btn-primary btn-block btn-lg" type="submit">Continuar</button>
            <input type="hidden"
                   name="{{view.get_redirect_field_name}}"
                   value="{% url 'cyclist_agreement' %}"/>
        {% elif view.kwargs.context == 'dashboard' %}
            <button class="btn btn-primary btn-block btn-lg" type="submit">Salvar alterações</button>
            <input type="hidden"
                   name="{{view.get_redirect_field_name}}"
                   value="{% url 'user_register' %}"/>
        {% else %}
            <button class="btn btn-primary btn-block btn-lg" type="submit">Continuar</button>
        {% endif %}

    </form>

    <div class="map" id="js-map"></div>

    <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>
</section>
{% endblock %}
