{% extends "base.html" %}

{% block content %}
    <section class="dashboard requester container">
       
        <div class="row">

            <aside class="dashboard-sidebar col-md-3 col-md-offset-1">
                <div class="card">
                    <header class="profile">
                        <div class="profile-icon">
                            <img src="http://placehold.it/85x85" alt="Nome do Usuário">
                        </div>
                        <h2 class="profile-name">Fulano</h2>
                        <p class="profile-city">São Paulo - SP</p>
                    </header>
                    <nav class="sidebar-nav">
                        <ul class="list-unstyled">
                            <li><a href="#">Meus pedidos
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Recados
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Eventos</a></li>
                            <li><a href="#">Fórum de discussão</a></li>
                            <li><a href="#">Dicas para pedalar</a></li>
                            <li><a href="#">Editar cadastro</a></li>
                            <li><a href="#">Quero ser um Bike Anjo</a></li>
                        </ul>
                        <a href="#" class="sidebar-ask-help btn btn-warning">Pedir ajuda para pedalar</a>
                    </nav>            
                </div>
                <div class="sidebar-feedback">
                    <a href="#"><span>Como estamos pedalando?</span><br>
                    Envie seu feedback</a>
                </div>
            </aside>

            <section class="dashboard-content col-md-7">

                <article class="card list">
                    <header class="card-header negative">
                        <h3 class="card-title">Recados (6)</h3>
                    </header>

                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-envelope"></i>Apoie o Bike Anjo</h3>
                        <div class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in imperdiet nisl. Nunc id tincidunt libero.</div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-envelope"></i>Apoie o Bike Anjo</h3>
                        <div class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in imperdiet nisl. Nunc id tincidunt libero.</div>
                    </div>
                    <div class="card-content old">
                        <h3 class="card-subtitle"><i class="fa fa-envelope"></i>Apoie o Bike Anjo</h3>
                        <div class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in imperdiet nisl. Nunc id tincidunt libero.</div>
                    </div>
                    <div class="card-content old">
                        <h3 class="card-subtitle"><i class="fa fa-envelope"></i>Apoie o Bike Anjo</h3>
                        <div class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in imperdiet nisl. Nunc id tincidunt libero.</div>
                    </div>

                </article>

            </section>

        </div>
        
    </section>
{% endblock %}