{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeangel container">
       
        <div class="row">

            <aside class="dashboard-sidebar col-md-3 col-md-offset-1">
                <div class="card">
                    <header class="profile">
                        <div class="profile-icon">
                            <img src="http://placehold.it/85x85" alt="Nome do Usuário">
                        </div>
                        <h2 class="profile-name">Fulano</h2>
                        <p class="profile-city">São Paulo - SP</p>
                    </header>
                    <nav class="sidebar-nav">
                        <ul class="list-unstyled">
                            <li><a href="#">Meus pedidos
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Recados
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Eventos</a></li>
                            <li><a href="#">Fórum de discussão</a></li>
                            <li><a href="#">Dicas para pedalar</a></li>
                            <li><a href="#">Editar cadastro</a></li>
                            <li><a href="#">Quero ser um Bike Anjo</a></li>
                        </ul>
                    </nav>            
                </div>
                <div class="sidebar-feedback">
                    <a href="#"><span>Como estamos pedalando?</span><br>
                    Envie seu feedback</a>
                </div>
            </aside>

            <section class="dashboard-content col-md-7">
                <article class="card request">
                    <header class="card-header negative">
                        <a href="#" class="go-back"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a>
                        <ul class="card-actions list-inline">
                            <li>
                                <a href="#">
                                    <span class="text visible-xs">Encaminhar</span>
                                    <span class="text hidden-xs">Encaminhar Pedido</span>
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="text visible-xs">Atender</span>
                                    <span class="text hidden-xs">Atender Pedido</span>
                                    <i class="fa fa-comment"></i>
                                </a>
                            </li>
                        </ul>
                    </header>

                    <div class="card-content">
                        <div class="card-icon">
                            <img src="http://placehold.it/50x50" alt="Nome do Usuário">
                        </div>
                        <h3 class="card-subtitle">Praticar pedaladas</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>00/00/0000</li>
                            <li>São Paulo</li>
                            <li>Evento Gratuito</li>
                        </ul>
                    </div>
                </article>

                <article class="card">
                    <header class="card-header">
                        <div class="card-icon">
                            <img src="http://placehold.it/30x30" alt="Nome do Usuário">
                        </div>
                        <h2 class="card-title">Paulo José</h2>
                        <div class="card-date">00/00/0000</div>
                    </header>
                    <div class="card-content">
                        <p class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ipsum venenatis turpis efficitur fringilla ac vel urna. Phasellus ac nibh imperdiet, convallis massa non, lacinia libero. Aliquam in sagittis nulla. Cras aliquet auctor neque ut fermentum. Fusce condimentum nulla non velit tristique consequat.</p>
                        <div class="card-buttons">
                            <a href="#" class="btn btn-success">Atender Pedido</a>
                            <a href="#" class="btn btn-default">Encaminhar para outro Bike Anjo</a>
                        </div>
                    </div>
                </article>

            </section>

        </div>
        
    </section>
{% endblock %}