{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeanjo container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Eventos ({{event_list.count}})</h2>
                    </header>
                    {% for event in event_list %}
                    <div class="card-content">
                        <h3 class="card-subtitle"><a href="{% url 'dashboard_event_detail' event.id %}"><i class="fa fa-calendar-o"></i> {{ event.title }}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>{{ event.start_date|date:'d/m/Y H:i:s' }}{% if event.end_date %} - {{ event.end_date|date:'d/m/Y H:i:s' }}{% endif %}</li>
                            <li>{{ event.city }}</li>
                            <li>{{ event.price|default:'Evento gratuito' }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </article>
            </section>
        </div>
    </section>
{% endblock %}
