{% extends "base.html" %}

{% block content %}
    <section class="dashboard bikeanjo container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Eventos ({{unread.events.count}})</h2>
                    </header>
                    {% for event in event_list %}
                    <div class="card-content {% if event.readed_date %}old{% endif %}">
                        <h3 class="card-subtitle"><i class="fa fa-calendar-o"></i> <a href="{% url 'dashboard_event_detail' event.id %}">{{ event.title }}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>
                                <span>{{ event.start_date|date:'d/m/Y, H:i:s' }}</span>
                                {% if event.end_date %}
                                    <span> - </span>
                                    {% if event.end_date.date = event.start_date.date %}
                                        <span>{{ event.end_date|date:'H:i:s' }}</span>
                                    {% else %}
                                        <span>{{ event.end_date|date:'d/m/Y, H:i:s' }}</span>
                                    {% endif %}
                                {% endif %}                            </li>
                            <li>{{ event.city }}</li>
                            <li>{{ event.price|default:'Evento gratuito' }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </article>
            </section>
        </div>
    </section>
{% endblock %}
