{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="dashboard {{ user.role }} container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                <div class="card messages">
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="{% url 'dashboard_message_list' %}"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a></h2>
                    </header>
                    {% if message.image %}
                    <div class="card-image" style="background-image: url({{ message.image.url }});">
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <h3 class="card-subtitle">{{ message.title }}</h3>
                        <div class="card-info">{{ message.content|safe }}</div>
                    </div>
                </div>
            </section>

        </div>
        
    </section>
{% endblock %}
