{% extends "base.html" %}

{% block content %}
    <section class="dashboard requester container">
       
        <div class="row">

            <aside class="dashboard-sidebar col-md-3 col-md-offset-1">
                <div class="card">
                    <header class="profile">
                        <div class="profile-icon">
                            <img src="http://placehold.it/85x85" alt="Nome do Usuário">
                        </div>
                        <h2 class="profile-name">Fulano</h2>
                        <p class="profile-city">São Paulo - SP</p>
                    </header>
                    <nav class="sidebar-nav">
                        <ul class="list-unstyled">
                            <li><a href="#">Meus pedidos
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Recados
                            <span class="alert bubble">1</span></a></li>
                            <li><a href="#">Eventos</a></li>
                            <li><a href="#">Fórum de discussão</a></li>
                            <li><a href="#">Dicas para pedalar</a></li>
                            <li><a href="#">Editar cadastro</a></li>
                            <li><a href="#">Quero ser um Bike Anjo</a></li>
                        </ul>
                        <a href="#" class="sidebar-ask-help btn btn-warning">Pedir ajuda para pedalar</a>
                    </nav>            
                </div>
                <div class="sidebar-feedback">
                    <a href="#"><span>Como estamos pedalando?</span><br>
                    Envie seu feedback</a>
                </div>
            </aside>

            <section class="dashboard-content col-md-7">

                <article class="card support">
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="#"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a></h2>
                    </header>
                    <div class="">
                        <img src="http://placehold.it/660x250" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h3 class="card-subtitle">Apoie o Bike Anjo</h3>
                        <div class="card-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in imperdiet nisl. Nunc id tincidunt libero. Aenean tempus purus eget enim aliquam, sed lacinia tellus molestie. Sed suscipit aliquam est, et placerat orci dapibus eget. Donec nec posuere mauris. Curabitur orci ante, pretium non commodo eget, hendrerit ut augue. Fusce semper aliquam diam quis lacinia. Aliquam erat volutpat. Aenean pulvinar lorem mi.</p>

                            <p>Quisque non vehicula justo, id malesuada ante. Sed sed purus lacus. Nam facilisis at velit pulvinar vulputate. Cras diam leo, laoreet sed sodales nec, tempus nec nulla. Fusce cursus volutpat pulvinar. Quisque lacinia justo dui, in vehicula nibh cursus et. Duis ultricies, sapien quis aliquet imperdiet, nibh mi malesuada odio, id dignissim mauris turpis at eros. Duis finibus elit ac ultricies pharetra. Pellentesque auctor maximus neque nec tempor.</p>

                            <a href="#" class="btn btn-warning">Faça uma doação</a>
                        </div>
                    </div>
                </article>

            </section>

        </div>
        
    </section>
{% endblock %}