{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="dashboard {{ user.role }} container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">
                <div class="card">
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="{% url 'dashboard_event_list' %}"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a></h2>
                    </header>
                    {% if event.image %}
                    <div>
                        <img src="{{ event.image.url }}" class="img-responsive"/>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <h3 class="card-subtitle">{{ event.title }}</h3>
                        <div class="card-info">{{ event.content|safe }}</div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-map-marker"></i>
                            {% if event.address_link %}
                                <a target="blank" href="{{ event.address_link }}">{{ event.address }}</a>
                            {% else %}
                                <span>{{ event.address }}</span>
                            {% endif %}
                            </li>
                            <li><i class="fa-li fa fa-calendar"></i>
                                <span>{{ event.start_date|date:'d/m/Y, H:i:s' }}</span>
                                {% if event.end_date %}
                                    <span> - </span>
                                    {% if event.end_date.date = event.start_date.date %}
                                        <span>{{ event.end_date|date:'H:i:s' }}</span>
                                    {% else %}
                                        <span>{{ event.end_date|date:'d/m/Y, H:i:s' }}</span>
                                    {% endif %}
                                {% endif %}
                            </li>

                            <li><i class="fa-li fa fa-dollar"></i>{{ event.price|default:'Evento gratuito' }}</li>
                        </ul>
                    </div>

                    <div class="card-footer previous-next">
                        {% if event.get_previous_by_created_date %}
                        <a class="btn btn-sm btn-default"
                           href="{% url 'dashboard_event_detail' event.get_previous_by_created_date.id %}">&laquo; Anterior</a>
                        {% endif %}

                        {% if event.get_next_by_created_date %}
                        <a class="btn btn-sm btn-default"
                           href="{% url 'dashboard_event_detail' event.get_next_by_created_date.id %}">Próximo &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </section>

        </div>
        
    </section>
{% endblock %}
