{% extends 'base.html' %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="row">
            <h1 class="text-center text-uppercase">Junte-se a uma comunidade que acredita na transformação das cidades por meio da bicicleta!</h1>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2">
                <button class="btn btn-lg btn-block ba-bg-orange">Quero ajuda para pedalar</button>
            </div>
            <div class="col-xs-3 col-xs-offset-2">
                <button class="btn btn-lg btn-block ba-bg-blue">Já pedalo e quero ajudar</button>
            </div>
        </div>
    </div>
</div>
<div class="comunidade">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-uppercase">Nossa Comunidade Não Para de Crescer</h2>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-2">
                <div class="circle circle-stats ba-bg-green">
                    15555
                    <small>Bike Anjos</small>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="circle circle-stats ba-bg-green">
                    365
                    <small>Bike Anjos</small>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="circle circle-stats ba-bg-green">
                    69
                    <small>Bike Anjos</small>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="circle circle-stats ba-bg-green">
                    25
                    <small>Países</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="siga">
    <div class="container">
        <div class="row">
            <h4 class="text-uppercase">Siga o Bike Anjo:</h4>
        </div>
    </div>
</div>
<div class="como">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h1>img</h1><br>
                Aprendendo a pedalar
            </div>
            <div class="col-xs-4">
                <h1>img</h1><br>
                Usando a plataforma
            </div>
            <div class="col-xs-4">
                <h1>img</h1><br>
                Virando um bike anjo
            </div>
        </div>
        <div class="row">
            <p class="text-center"><a href="#">Saiba mais</a> sobre como funciona o Bike Anjo</p>
        </div>
    </div>
</div>
{% endblock %}
