{% extends 'base.html' %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Junte-se a uma comunidade que acredita na transformação das cidades por meio da bicicleta!</h1>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <button class="btn btn-lg btn-block text-uppercase">Quero Ajuda para Pedalar</button>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <button class="btn btn-lg btn-block text-uppercase">Já Pedalo e Quero Ajudar</button>
            </div>
        </div>
    </div>
</div>
<div class="comunidade">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-uppercase">Nossa Comunidade Não Para de Crescer</h2>
        </div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-2">
                <h1>15555</h1><br>
                Bike Anjos
            </div>
            <div class="col-xs-2">
                <h1>365</h1><br>
                Bike Anjos
            </div>
            <div class="col-xs-2">
                <h1>69</h1><br>
                Bike Anjos
            </div>
            <div class="col-xs-2">
                <h1>25</h1><br>
                Países
            </div>
        </div>
    </div>
</div>
<div class="siga">
    <div class="container">
        <div class="row">
            <h4 class="text-uppercase">Siga o Bike Anjo:</h4>
        </div>
    </div>
</div>
<div class="como">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h1>img</h1><br>
                Aprendendo a pedalar
            </div>
            <div class="col-xs-4">
                <h1>img</h1><br>
                Usando a plataforma
            </div>
            <div class="col-xs-4">
                <h1>img</h1><br>
                Virando um bike anjo
            </div>
        </div>
        <div class="row">
            <p class="text-center"><a href="#">Saiba mais</a> sobre como funciona o Bike Anjo</p>
        </div>
    </div>
</div>
{% endblock %}
