{% extends 'base.html' %}

{% block content %}

<section id="top" class="static how-it-works">
    <section class="jumbotron">
        <div class="container">
            <h2>Como Funciona</h2>
        </div>
    </section>

    <nav class="navigation">
        <ul>
            <li><a href="#learn-to-cycle">Aprendendo a Pedalar</a></li>
            <li><a href="#use-the-platform">Usando a Plataforma</a></li>
            <li><a href="#bikeanjo">Como virar Bike Anjo</a></li>
        </ul>
    </nav>

    <section id="learn-to-cycle">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>Aprendendo a pedalar</h2>
                        <p>Como o Bike Anjo pode te ajudar</p>
                    </header>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="icon"></div>
                        </div>
                        <div class="col-sm-7 text">
                            <p>Na plataforma você encontra ajuda para aprender e  praticar suas pedaladas, recomendações de rotas, acompanhamento no trânsito, dicas e muito mais.</p>
                            <a href="#" class="btn btn-lg btn-warning">Quero ajuda para pedalar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Temos também eventos em todo o Brasil, confira em
                <a href="#">O que temos feito</a></p>
            </div>
        </footer>
    </section>

    <section id="use-the-platform">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>Usando a plataforma</h2>
                        <p>Fiz o pedido de ajuda e agora?</p>
                    </header>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="icon"></div>
                        </div>
                        <div class="col-sm-7 text">
                            <p>Analisamos seu pedido em nossa base e conectamos com um Bike Anjo mais próximo de você para ajudar com seu pedido. Além disso você também vai encontrar um painel personalizado com  várias informações de eventos, dicas e um canal de comunicação com nossa comunidade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Caso a sua cidade não tenha um Bike Anjo, temos uma série de dicas.  
                <a href="#">Confira aqui!</a></p>
            </div>
        </footer>
    </section>

    <section id="bikeanjo">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <header>
                        <h2>Como virar um Bike Anjo</h2>
                        <p>Faça parte dessa comunidade</p>
                    </header>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="icon"></div>
                        </div>
                        <div class="col-sm-7 text">
                            <p>A partir do momento que você recebe ajuda você poderá engajar outras pessoas a fazer o mesmo e transformar a sua cidade.</p>
                            <a href="#" class="btn btn-lg btn-primary">Já pedalo e quero ajudar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>Temos uma série de dicas para Bike Anjos.
                <a href="#">Confira aqui!</a></p>
            </div>
        </footer>
    </section>
</section>
{% endblock %}
