{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <section class="dashboard requester container">
       
        <div class="row">
            {% include '_requester_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">

                <article class="card request">
                    <header class="card-header negative">
                        <a href="{% url 'cyclist_my_requests' %}" class="go-back"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a>
                        <ul class="card-actions list-inline">
                        {% if helprequest.status != 'attended' %}
                            <li>
                                <a href="#">
                                    <span class="text visible-xs">Cancelar</span>
                                    <span class="text hidden-xs">Cancelar Pedido</span>
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#finishRequest">
                                    <span class="text visible-xs">Finalizar</span>
                                    <span class="text hidden-xs">Finalizar Pedido</span>
                                    <i class="fa fa-check-circle"></i>
                                </a>
                            </li>
                        {% endif %}
                            <li>
                                <a href="#helpreply-form" data-toggle="collapse">
                                    <span class="text">Responder</span>
                                    <i class="fa fa-reply"></i>
                                </a>
                            </li> 
                        </ul>
                    </header>

                    <div class="card-content">
                        <div class="card-icon">
                            <img src="{{ helprequest.requester.get_avatar_url }}"
                                 width="50" height="50" 
                                 title="{{ helprequest.requester.get_full_name }}"
                                 alt="{% trans "Photo from" %} {{ helprequest.requester.get_full_name }}"/>
                        </div>
                        <h3 class="card-subtitle">{{ helprequest.get_help_label }}</h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>{{ helprequest.created_date|date:'d/m/Y' }}</li>
                            <li>{{ user.city }}</li>
                        </ul>

                        {% if helprequest.status = 'attended' %}
                        <div class="label-finished request-finished"><i class="fa fa-check-circle"></i> Pedido Atendido</div>
                        {% endif %}
                    </div>
                </article>

                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

                <form class="card reply collapse {{helprequest.helpreply_set.count|yesno:',in'}}" method="post" id="helpreply-form" action="{% url 'cyclist_request_reply' helprequest.id %}">
                    {% csrf_token %}
                    <header class="card-header">
                        <button type="button" data-toggle="collapse" data-target="#helpreply-form" 
                                class="card-button" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                        <div class="card-icon">
                            <img src="{{ user.get_avatar_url }}"
                                 width="30" height="30" 
                                 title="{{ user.get_full_name }}"
                                 alt="{% trans "Photo from" %} {{ user.get_full_name }}"/>
                        </div>
                        <h2 class="card-title">{{ user.get_full_name }}</h2>
                    </header>
                    <div class="card-content">
                        <textarea class="form-control" name="message" rows="5" placeholder="Enter text"
                        ></textarea>
                        <button class="btn btn-warning" type="submit">Enviar</button>
                    </div>
                    <input type="hidden" name="intention" value="answer" />
                </form>

                {% for helpreply in helprequest.helpreply_set.all %}
                <article class="card {% if not forloop.first %}old-messages{% endif %}">
                    <header class="card-header">
                        {% if helpreply.intention != 'finish' %}
                            <div class="card-icon">
                                <img src="{{ helpreply.author.get_avatar_url }}"
                                     width="30" height="30" 
                                     title="{{ helpreply.author.get_full_name }}"
                                     alt="{% trans "Photo from" %} {{ helpreply.author.get_full_name }}"/>
                            </div>
                            <h2 class="card-title">{{ helpreply.author.get_full_name }}</h2>
                            <div class="card-date">{{ helpreply.created_date|date:'d/m/Y H:i' }}</div>
                        {% endif %}

                        {% if helpreply.intention == 'finish' %}
                            <h2 class="card-title request-finished"><i class="fa fa-check-circle"></i> Pedido finalizado pelo Bike Anjo</h2>
                            <div class="card-date">{{ helpreply.created_date|date:'d/m/Y H:i' }}</div>
                        {% endif %}
                    </header>
                    <div class="card-content">
                        <p class="card-info">{{ helpreply.message }}</p>

                        {% if forloop.first %}
                            {% if helprequest.status = 'attended' %}
                            <div class="card-buttons">
                                <a href="#" class="btn btn-warning">Pedido foi atendido</a>
                                <a href="#" class="btn btn-default">Ainda tenho dúvidas</a>
                                <a href="#" class="btn btn-default">Reportar problema</a>
                            </div>
                            {% endif %}
                            
                            {% if helprequest.status != 'attended' %}
                            <div class="card-buttons">
                                <button data-toggle="collapse"
                                        data-target="#helpreply-form"
                                        class="btn btn-warning">Responder</button>
                                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#finishRequest">Finalizar Pedido</a>
                                <a href="#" class="btn btn-default">Cancelar Pedido</a>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
            </section>
        </div>
        
        <div class="modal fade finish-request-modal" id="finishRequest" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                        <h4 class="modal-title"><i class="fa fa-check-circle"></i> Nos ajude a melhorar, avalie seu atendimento</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'cyclist_request_reply' helprequest.id %}">
                            {% csrf_token %}
                            <p>Avalie 1 de 5 bikes:</p>
                            <div class="request-rating">
                                <label onclick="this.parentElement.className = 'request-rating rating-1'">
                                    <span class="sr-only"><input type="radio" name="rating" value="1"/>1</span>
                                </label>
                                <label onclick="this.parentElement.className = 'request-rating rating-2'">
                                    <span class="sr-only"><input type="radio" name="rating" value="2"/>2</span>
                                </label>
                                <label onclick="this.parentElement.className = 'request-rating rating-3'">
                                    <span class="sr-only"><input type="radio" name="rating" value="3"/>3</span>
                                </label>
                                <label onclick="this.parentElement.className = 'request-rating rating-4'">
                                    <span class="sr-only"><input type="radio" name="rating" value="4"/>4</span>
                                </label>
                                <label onclick="this.parentElement.className = 'request-rating rating-5'">
                                    <span class="sr-only"><input type="radio" name="rating" value="5"/>5</span>
                                </label>
                            </div>

                            <p>Sugestões, reclamações ou elogios? Relate no campo abaixo:</p>
                            <textarea class="form-control" name="message" rows="5" placeholder="Enter text"></textarea>
                            <input type="hidden" name="intention" value="finish" />
                            <button class="btn btn-warning" type="submit">Enviar avaliação</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>        
    </section>

{% endblock %}
