{% extends "base.html" %}
{% load i18n %}
{% load map %}

{% block content %}
    <section class="dashboard requester container">
       
        <div class="row">
            {% include '_requester_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">

                <form class="dashboard-header" method="GET">
                    <select name="status" class="requests-filter form-control"
                            onchange="this.parentElement.submit()">
                        <option>Todos os pedidos</option>
                        {% for value,label in helprequest_list.model.STATUS.items %}
                        <option {% if request.GET.status = value %}selected="selected"{% endif %}
                                value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    <ul class="requests-label list-inline">
                        <li><i class="fa fa-times-circle"></i> Pedido Cancelado</li>
                        <li><i class="fa fa-comment"></i> Pedido Aberto</li>
                        <li><i class="fa fa-check-circle"></i> Pedido Finalizado</li>
                    </ul>
                </form>

                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">Pedidos de ajuda ({{helprequest_list.count}})</h2>
                        <button type="button" class="card-button" aria-label="Informações">
                            <span aria-hidden="true"><i class="fa fa-info-circle"></i></span>
                        </button>
                    </header>

                    {% for helprequest in helprequest_list %}
                    <div class="card-content {{helprequest.has_updates|yesno:'old,'}} {{ helprequest.status }}">
                        <h3 class="card-subtitle">
                            <i class="fa {{ helprequest.status|map:'{"attended":"fa-check-circle","canceled":"fa-times-circle"}'|default:'fa-comment' }}"></i> <a href="{% url 'cyclist_request_detail' helprequest.id %}">Pedido #{{ helprequest.id|stringformat:'04d' }}</a>
                        </h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>{{ helprequest.created_date|date:'d/m/Y' }}</li>
                            <li>{{ user.city }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </article>

                {% if is_paginated %}
                <nav class="dashboard-navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-left"></i></span>
                            </a>
                        </li>
                        {% endif %}

                        {% for page in paginator.page_range %}
                        <li class="{% if page_obj.number = page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </section>

        </div>
        
    </section>
{% endblock %}
