{% extends "base.html" %}
{% load i18n %}
{% load socialaccount %}

{% block content %}
    <section class="dashboard dashboard-home requester container">

        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">


            {% if first_access %}
            {% with first_request=user.helprequested_set.first %}

                {% if first_request.help_with = 1 %}
                    {% if not user.has_bikeanjo_near %}
                        <article class="card success-message big" role="alert">
                            <button type="button" class="card-button" data-dismiss="card" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-times"></i></span>
                            </button>
                            <div class="card-content">
                                <div class="card-badge bad-badge"></div>
                                <h2 class="card-subtitle">{% trans "Oh no!" %}</h2>
                                <p class="card-info"> {% trans "Unfortunately, we don't have any bike anjo in your city yet, but don't worry! Check out what else you can do in our platform" %}:</p>
                                <ul class="list-unstyled card-info">
                                    <li>
                                        <i class="fa fa-arrow-right"></i>
                                        <a href="{% url 'tips_list' 'requester' %}" target="_blank">{% trans "See cycling tips" %}</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-arrow-right"></i>
                                        <a href="https://www.facebook.com/bikeanjo" target="_blank">{% trans "Publish on our Facebook to find a bike anjo" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    {% else %}
                        <article class="card success-message big" role="alert">
                            <button type="button" class="card-button" data-dismiss="card" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-times"></i></span>
                            </button>
                            <div class="card-content">
                                <div class="card-badge"></div>
                                <h2 class="card-subtitle">{% trans "Success!" %}</h2>
                                <p class="card-info"> {% trans "Your request was sent to our community and will be returned within 15 days" %}.</p>
                                <p class="card-info">{% trans "Take this time to verify if your city has a Bike Anjo School, a workshop to teach people how to ride a bike. To do this, click" %} <a href="{% url 'dashboard_event_list' %}">{% trans "HERE" %}</a>. {% trans "You can also check for tips and other information we have for you in your Dashboard" %}.</p>
                            </div>
                        </article>
                    {% endif %}

                {% else %}
                    <article class="card success-message big" role="alert">
                        <button type="button" class="card-button" data-dismiss="card" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                        <div class="card-content">
                            <div class="card-badge"></div>
                            <h2 class="card-subtitle">{% trans "Success!" %}</h2>
                            <p class="card-info">{% trans "Your registration was successfully completed and your request was sent to our community. You will hear back from us within 15 days " %}.
                            <br/>
                            <br/>{% trans "Take this time to visit your dashboard, see the events and cycling tips" %}.</p>
                        </div>
                    </article>
                {% endif %}


            {% endwith %}
            {% endif %}

                {% for message in messages %}
                <div class="alert alert-{{ message.level_tag }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

                {% with message=unread.messages.first %}{% if message %}
                <article class="card {% if message.image %}photo{% endif %} big">
                    <button type="button" class="card-button" data-dismiss="card" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <div class="card-content">
                        {% if message.image %}
                        <div class="card-photo" style="background-image: url({{message.image.url}});"></div>
                        {% endif %}
                        <h2 class="card-subtitle">{{message.title}}</h2>
                        <p class="card-info">{{message.content|striptags|truncatewords:32}}</p>
                    </div>
                    <footer class="card-footer">
                        <a class="see-more-link" href="{% url 'dashboard_message_detail' message.id %}">{% trans "See full message" %} <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}{% endwith %}

                {% if helprequest_list.exists %}
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">{% trans "Help requests" %} ({{user.helprequested_set.active.count}})</h2>
                    </header>
                    {% for hr in helprequest_list %}
                    <div class="card-content {{ hr.status }}">
                        <h3 class="card-subtitle"><i class="fa fa-comment"></i> <a href="{% url 'cyclist_request_detail' hr.id %}">{{ hr.get_help_label }}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            {% if hr.status = 'new' %}
                            <li>{% trans "Waiting for bike anjo" %} ...</li>
                            {% elif hr.bikeanjo %}
                            <li>{{ hr.bikeanjo.get_full_name }}</li>
                            <li>{{ hr.bikeanjo.city.name }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endfor %}
                    <footer class="card-footer">
                        <a class="see-more-link" href="{% url 'cyclist_my_requests' %}">{% trans "See requests" %} <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}

                {% if event_list %}
                <article class="card list">
                    <header class="card-header negative">
                        <h2 class="card-title">{% trans "Events" %}{% if event_list.near %} {% trans "in your city" %}{% endif %}</h2>
                    </header>
                    {% for event in event_list|slice:'3' %}
                    <div class="card-content">
                        <h3 class="card-subtitle"><i class="fa fa-calendar-o"></i> <a href="{% url 'dashboard_event_detail' event.slug %}">{{ event.title }}</a></h3>
                        <ul class="card-info list-info list-unstyled">
                            <li>{{ event.date }}</li>
                            <li>{{ event.city.name }}</li>
                        </ul>
                    </div>
                    {% endfor %}
                    <footer class="card-footer">
                        <a class="see-more-link" href="{% url 'dashboard_event_list' %}">{% trans "See all events" %}<i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}

                {% if tip %}
                <article class="card photo small">
                    <header class="card-header negative">
                        <h2 class="card-title">{% trans "Cycling tips" %}</h2>
                        {% comment %}
                        <button type="button" class="card-button" aria-label="Refresh">
                            <span aria-hidden="true"><i class="fa fa-refresh"></i></span>
                        </button>
                        {% endcomment %}
                    </header>
                    <div class="card-content">
                        <div class="card-photo">
                            <img src="{% firstof tip.get_image_url 'http://placehold.it/245x190' %}"
                                 style="max-width: 245px; max-height: 190px">
                        </div>
                        <h3 class="card-subtitle"></i> {{ tip.title }}</h3>
                        <p class="card-info">{{ tip.content }}</p>
                    </div>
                    <footer class="card-footer">
                            <a class="see-more-link" href="{% url 'tips_list' user.role %}">{% trans "See all tips" %} <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>
                {% endif %}
            </section>

        </div>

    </section>
{% endblock %}
