{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section class="dashboard {{ user.role }} container">
       
        <div class="row">
            {% include '_dashboard_sidebar.html' %}

            <section class="dashboard-content col-md-7">

                <form class="card list" method="post">{% csrf_token %}
                    <header class="card-header negative">
                        <h2 class="card-title"><a href="{% url 'user_register' %}"><i class="fa fa-arrow-left"></i><span class="sr-only">Voltar</span></a> {% trans "Edit account" %}</h2>
                    </header>
                    <div class="card-content">
                        <div class="forms">
                            <div class="form-group">
                                <label class="primary-label">
                                    <span class="{% if form.ride_experience.errors %}text-danger{% endif %}">{% trans 'How long have you cycling?' %}</span>
                                </label>
                                
                                {% for value,label in form.ride_experience.field.choices %}
                                <label class="radio {% if form.ride_experience.value = value %}checked{% endif %}">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                                    <input type="radio" name="{{ form.ride_experience.html_name }}" value="{{ value }}"
                                           {% if form.ride_experience.value = value %}checked="checked"{% endif %}>
                                           <span class="text">{{ label }}</span>
                                </label>
                                {% endfor %}

                                {% if form.ride_experience.errors %}
                                    {% for error in form.ride_experience.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>


                            <div class="form-group">
                                <label class="primary-label">
                                    <span class="{% if form.bike_use.errors %}text-danger{% endif %}">{% trans 'Do you use the bicycle as a means of transportation?' %}</span>
                                </label>

                                {% for value,label in form.bike_use.field.choices %}
                                <label class="radio {% if form.bike_use.value = value %}checked{% endif %}">
                                    <span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span>
                                    <input type="radio" name="{{ form.bike_use.html_name }}" value="{{ value }}"
                                           {% if form.bike_use.value = value %}checked="checked"{% endif %}>
                                           <span class="text">{{ label }}</span>
                                </label>
                                {% endfor %}

                                {% if form.bike_use.errors %}
                                    {% for error in form.bike_use.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="primary-label" for="participate">{% trans "Do you take part of any cycling initiative?" %}</label>
                                <textarea class="form-control" name="{{form.initiatives.html_name}}" rows="5" id="participate" placeholder="{% trans "Describe your participation here" %}">{{ form.initiatives.value|default:'' }}</textarea>

                                {% if form.initiatives.errors %}
                                    {% for error in form.initiatives.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="card-footer save-config">
                        <button class="btn btn-success" type="submit">{% trans "Save changes" %}</button>
                    </div>
                </form>

            </section>

        </div>
        
    </section>
{% endblock %}
