{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Terms and Conditions" %}{% endblock %}

{% block content %}
    <section class="forms signup container">
        <header>
            <h2>{% trans "Just one more thing" %}</h2>
            <p>{% trans "Give us some more information about your request" %}</p>
        </header>

        <form class="signup card" id="signup_form" method="post">
            {% csrf_token %}

            {% if debug and form.errors %}
            <script type="text/javascript">{% for error in form.errors %}
                console.error("form_error:", "{{error}}");
            {% endfor %}</script>
            {% endif %}

            <div class="form-group">
                <label class="primary-label" for="aditional-info">{% trans "Additional info" %}</label>
                <textarea class="form-control" rows="5" id="aditional-info" name="message" placeholder="{% trans "Additional information and request specifications" %}">{{ form.message.value|default:'' }}</textarea>

                {% if request.POST and form.message.errors %}
                    {% for error in form.message.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <button class="btn btn-primary btn-block btn-lg" type="submit"
                    name="accepted_agreement" value="true">{% trans "Send request" %}</button>
        </form>

        <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>{% trans "Any Trouble or Questions?" %} <b>{% trans "Contact us!" %}</b></a></p>

    </section>
{% endblock %}
