{% extends 'base.html' %}

{% load i18n %}
{% block content %}
<section class="forms signup container">
    <header>
        <h2>{% trans "Be part of this community" %}</h2>
        <p>{% trans "You can ask for help to ride a bike or become a bike anjo" %}</p>
    </header>

    <div class="card">

        <div class="form-group">
            <a href="{% url 'cyclist_account_signup' 'requester' %}" class="btn btn-warning btn-block btn-lg">{% trans "I need help to ride a bike" %}</a><br>
            <a href="{% url 'cyclist_account_signup' 'bikeanjo' %}" class="btn btn-success btn-block btn-lg">{% trans "I ride a bike and want to help" %}</a>
        </div>

    </div>

    <p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
    <i class="fa fa-times form-control-feedback"></i>
            {% trans "Any Trouble or Questions?" %} <b>{% trans "Contact us!" %}</b></a></p>
</section>
{% endblock %}
