{% extends 'base.html' %}

{% block content %}
<section class="forms signup container">
    <header>
        <h2>Faça parte dessa comunidade</h2>
        <p>Você pode pedir ajuda para pedalar ou ser um Bike Anjo</p>
    </header>

    <div class="card">

        <div class="form-group">
            <a href="{% url 'cyclist_account_signup' 'requester' %}" class="btn btn-warning btn-block btn-lg">Quero ajuda para pedalar</a><br>
            <a href="{% url 'cyclist_account_signup' 'bikeanjo' %}" class="btn btn-success btn-block btn-lg">Já pedalo e quero ajudar</a>
        </div>

    </div>

    <p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
    <i class="fa fa-times form-control-feedback"></i>
            Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>
</section>
{% endblock %}