{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    {% providers_media_js %}
    <section class="forms login container">
        <header>
            <h2>{% trans "Confirmed subscription!" %}</h2>
            <p>{% trans "Your e-mail address is registered and validated in our list" %}.</p>
        </header>
        <div class="card" method="post">

            <h3 class="text-center">{{ subscriber.email }}</h3 class="text-center">

            <p class="create-account">{% trans "Doesn't have an account?" %} <a href="{{ signup_url }}">{% trans "Sign up" %}</a></p>
        </div>

        <p class="questions"><a href="{% url "contact_view" %}"><i class="fa fa-question-circle"></i>{% trans "Any Trouble or Question?" %} <b>{% trans "Contact us!" %}</b></a></p>

    </section>

{% endblock %}
