{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    {% providers_media_js %}    
    <section class="forms login container">
        <header>
            <h2>Inscrição confirmada!</h2>
            <p>Seu email agora está cadastrado e validado em nossa lista.</p>
        </header>
        <div class="card" method="post">
           
            <h3 class="text-center">{{ subscriber.email }}</h3 class="text-center">

            <p class="create-account">{% blocktrans %}Não tem uma conta? <a href="{{ signup_url }}">Cadastre-se</a>{% endblocktrans %}</p>
        </div>

        <p class="questions"><a href="#"><i class="fa fa-question-circle"></i>
        Problemas ou Dúvidas? <b>Fale com a gente!</b></a></p>

    </section>

{% endblock %}
