{% extends "base.html" %}

{% block content %}
<section id="top" class="static suggestion suggestion-list">

    <section class="jumbotron">
        <div class="container">
            <h2>Dicas</h2>
        </div>
    </section>

    <nav class="navigation">
        <ul>
            <li><a href="#">Para quem não pedala</a></li>
            <li><a href="#" class="active">Para quem já pedala</a></li>
        </ul>
    </nav>

    <section class="container ba"><!-- use .ba or .requester class to change links color -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

                <article class="card photo small">
                    <div class="card-content">
                        <div class="card-photo" style="background-image: url('http://lorempixel.com/500/400');"></div>
                        <h3 class="card-subtitle"><a href="#">Comece a pedalar em três passos</a></h3>
                        <div class="card-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus turpis sed tortor molestie convallis. Proin venenatis, felis vitae suscipit dictum, ligula ligula tincidunt nisi, nec blandit leo enim a mi. Phasellus ultrices erat pulvinar commodo pharetra. Suspendisse volutpat suscipit nisl nec mattis.</div>          
                    </div>
                    <footer class="card-footer">
                        <a class="see-more-link" href="/dashboard/messages/2/">Ver dica na íntegra <i class="fa fa-arrow-right"></i></a>
                    </footer>
                </article>

                {% if is_paginated %}
                <nav class="item-pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-left"></i></span>
                            </a>
                        </li>
                        {% endif %}

                        {% for page in paginator.page_range %}
                        <li class="{% if page_obj.number = page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">
                                <i class="fa fa-angle-right"></i></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>
</section>
{% endblock %}
