{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block js %}{{block.super}}
<script type="text/javascript">;(function($){
    var mapsStyleQuery = $.ajax({
        'url': '{% static 'data/google-maps-style.json' %}',
        'dataType': 'json'
    });
    var locationsQuery = $.ajax({
        'url': '{% url 'bikeanjo_locations' %}',
        'dataType': 'json'
    });

    $(function(){
        var Geocoder = function() {
            var _geocoder = new google.maps.Geocoder();
            this.code = function(address) {
                var defer = $.Deferred();
                if(!address) { return defer.reject(); }
                _geocoder.geocode({'address': address}, function(results, status) {
                    status == google.maps.GeocoderStatus.OK
                        ? defer.resolve(results)
                        : defer.reject(status);
                });
                return defer;
            };
        }

        var $nav = $('#top .navigation');
        var $map = $('#where-we-are');
        var $par = $('.partners.container');
        var $city = $('#city');
        var $form = $city.parents('form');
        var $outer = $("#maps-app");

        var $win = $(window);
        var height = 100 - Math.round( 100 * ($nav.height()) / $win.height() );
        $map.css('height', height + 'vh');

        var cities = [];
        var index = {};
        var mapapi;
        var markers = [];
        var markerCluster;
        var boundary = new google.maps.LatLngBounds();
        var searchbound = null;

        $form.submit(function(evt){
            evt.preventDefault();
            return false;
        });

        var geocoder = new Geocoder();
        $city.each(function(i, el){
            var $el = $(el);
            new google.maps.places.Autocomplete(el,{
                types: ['geocode'],
                changed: $el.trigger.bind($el, 'address-changed')
            });
        }).on('address-changed', function(){
            var address = $(this).val().trim();
            geocoder.code(address).then(function(results) {
                if($.isArray(results) && results.length > 0) {
                    var result = results[0];
                    mapapi.fitBounds(result.geometry.bounds);
                } else if(address === '') {
                    mapapi.fitBounds(boundary);
                }
                $city.focus();
                $city.get(0).setSelectionRange(0, address.length);
            });
        });

        $(document).keydown(function(evt){
            if(evt.keyCode === 191 && evt.shiftKey) {
                $(document.body).animate({
                    'scrollTop': $nav.offset().top
                });
                $city.focus();
                evt.preventDefault();
                return false;
            } else if(evt.keyCode === 13 && evt.ctrlKey) {
                $outer.each(function(){
                    this.requestFullscreen 
                    ? this.requestFullscreen() 
                    : this.msRequestFullscreen 
                    ? this.msRequestFullscreen() 
                    : this.mozRequestFullScreen 
                    ? this.mozRequestFullScreen() 
                    : this.webkitRequestFullscreen 
                    ? this.webkitRequestFullscreen() 
                    : false;
                });
            }
        });

        mapsStyleQuery
            .then(function(styles){
                mapapi = new google.maps.Map($map.get(0), {
                    zoom: 3,
                    center: {lat: 12.024, lng: -48.887},
                    scrollwheel: false,
                    styles: styles
                });
                return locationsQuery
            })
            .then(function(data){
                index = {};

                var locations = data.locations;
                locations = locations.sort(function(l1, l2){
                    return Math.sqrt( Math.pow(l1.lat, 2) + Math.pow(l1.lng, 2) )
                         - Math.sqrt( Math.pow(l2.lat, 2) + Math.pow(l2.lng, 2) )
                });
                markers = locations.map(function(location, i) {
                        var bounds = index[location.city]
                            || new google.maps.LatLngBounds();

                        var marker = new google.maps.Marker({
                            position: location,
                            title: location.addr,
                            icon: '{% static 'imgs/where-we-are-icon.png' %}'
                        });
                        
                        bounds.extend(marker.position);
                        boundary.extend(marker.position);
                        index[location.city] = bounds;
                        return marker;
                    });

                markerCluster = new MarkerClusterer(mapapi, markers,
                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                return data;
            })
            .then(function(data){
                mapapi.fitBounds(boundary);
                return data;
            });
    });
})(jQuery);
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key={{ GOOGLE_API_KEY }}&amp;libraries=places"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
{% endblock %}

{% block content %}
<section id="top" class="static where-we-are">
    <section class="jumbotron" style="background-image: url('http://bikeanjo.org/media/filer_public/5d/75/5d75fdc8-0c97-4891-9910-1ffce4c3a846/header-nossas-campanhas.jpg');">
        <div class="container">
            <h2>{% trans "Where we are" %}</h2>
        </div>
    </section>

    <div id="maps-app" style="width:100%;">
        <nav class="navigation">
            <form class="form-group container" style="padding-top: 25px; max-width:500px;">
                <input type="text" class="form-control input-lg" id="city" placeholder="{% trans "Type city name" %}"/>
            </form>
        </nav>

        <div id="where-we-are"></div>
    </div>
</section>
{% endblock %}
