{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.1/sprintf.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-12">
        <h2>{% trans "Track" %}</h2>

        <form class="form-horizontal" method="post">
            {% csrf_token %}

            <div id="js-map" class="form-group" style="min-height: 300px;"></div>

            <p>{% blocktrans %}Type the addresses that you use to ride, type 'Enter' to see the address on map and confirm pressing 'Add address' button{% endblocktrans %}</p>

            <ol id="js-addresses"></ol>

            <div class="form-group">
                <input type="text" id="geocoder-input" class="form-control input-lg"/>
            </div>

            <div class="form-group">
                <button class="btn btn-default" id="js-add-address">{% trans 'Add address' %}</button>
            </div>


            {{ form.as_p }}

            <div class="pull-right">
                <button class="btn btn-success btn-lg" type="submit">{% trans "Next" %} &raquo;</button>
            </div><br/><br/><br/>
        </form>
    </div>
</div>
{% endblock %}
