{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<section id="top" class="home">
    <section class="jumbotron">
        <div id="jumbotron-carousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for slide in slides %}
                <li data-target="#jumbotron-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for slide in slides %}
                <div class="item {% if forloop.first %}active{% endif %}" style="background-image:url({{ slide.get_image_url }});"></div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container">
            <h2>{% trans "Join a community that believes in change through bicycles" %}!</h2>
            <p>
                {% if not user.is_authenticated %}
                <a href="{% url 'cyclist_account_signup' 'requester' %}" class="btn btn-warning" role="button">{% trans "I need help to ride a bike" %}</a>
                <a href="{% url 'cyclist_account_signup' 'bikeanjo' %}" class="btn btn-success" role="button">{% trans "I ride a bike and want to help" %}</a>
                {% endif %}
            </p>
        </div>
    </section>

    <section class="statistics">
        <div class="container">
            <header>
                <h2>{% trans "Our community is always growing" %}</h2>
            </header>
            <div class="box col-xs-6 col-md-3">
                <span class="number"
                      data-counter="{{counters.bikeanjos}}">{{counters.bikeanjos}}</span>
                  <span class="info">{% trans "Bike Anjo volunteers" %}</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number"
                      data-counter="{{counters.requests}}">{{counters.requests}}</span>
                <span class="info">{% trans "Requests" %}</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number"
                      data-counter="{{counters.cities}}">{{counters.cities}}</span>
                <span class="info">{% trans "Cities" %}</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number"
                      data-counter="{{counters.countries}}">{{counters.countries}}</span>
                <span class="info">{% trans "Countries" %}</span>
            </div>
        </div>
    </section>

    <section class="social container">
        <ul class="social-buttons list-inline unstyled">
            <li>
                <a target="_blank" href="https://www.facebook.com/bikeanjo" class="facebook">
                <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/+bikeanjo/about" class="google">
                <i class="fa fa-google-plus"></i><span class="sr-only">Google</span></a>
            </li>
            <li>
                <a target="_blank" href="https://instagram.com/bikeanjo" class="instagram">
                <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/bikeanjo" class="twitter">
                <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
            </li>
            <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                <i class="fa fa-youtube"></i><span class="sr-only">YouTube</span></a>
            </li>
        </ul>
    </section>

    <section class="how-it-works container">
        <header>
            <h2>{% trans "How it works?" %}</h2>
            <p>{% trans "We are a community of passionate cyclists who voluntarily help out new cyclists" %}</p>
        </header>
        <div class="row">
            <div class="ask-help box col-md-4">
                <div class="icon"></div>
                <h3>{% trans "You ask for help" %}</h3>
                <p>{% trans "You can find help to learn how to practice your skills, find route recomendations, traffic information and much more" %}.</p>
            </div>
            <div class="find-help box col-md-4">
                <div class="icon"></div>
                <h3>{% trans "Find your Bike Anjo volunteer" %}</h3>
                <p>{% trans "We analyze your request in our database and connect you with a bike anjo close to you to help with your request" %}.</p>
            </div>
            <div class="community box col-md-4">
                <div class="icon"></div>
                <h3>{% trans "And be part of the community" %}</h3>
                <p>{% trans "By the moment you get help you can get other people to do the same and change your city" %}.</p>
            </div>
            <a href="http://bikeanjo.org/about/sobre-nos/" class="btn btn-success col-xs-12"><u><b>{% trans "Learn more" %}</b></u> {% trans "about how Bike Anjo works" %}</a>
        </div>
    </section>

    <section class="who-used container">
        <header>
            <h2>{% trans "Check out who have already used it" %}</h2>
            <p>{% trans "Testimonials from people already in our community" %}</p>
        </header>
        <div class="row">
            <div id="carousel-who-used" class="carousel slide col-xs-12 col-sm-8 col-sm-push-2" data-ride="carousel"  data-interval="false">

                <div class="carousel-inner" role="listbox">
                    {% for testimony in testimonies %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <div class="carousel-content">
                            <div class="card">
                                <div class="icon">
                                    <img src="{{ testimony.author.get_avatar_url }}"
                                         width="85" height="85"
                                         title="{{ testimony.author.get_full_name }}"
                                         alt="{% trans "Photo of" %} {{ testimony.author.get_full_name }}"/>
                                </div>
                                <p class="testimonial">{{ testimony.message }}</p>
                                <p class="author">{{ testimony.author.get_full_name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#carousel-who-used" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">{% trans "Previous" %}</span>
                </a>
                <a class="right carousel-control" href="#carousel-who-used" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">{% trans "Next" %}</span>
                </a>

                <ol class="carousel-indicators">
                    {% for testimony in testimonies %}
                    <li data-target="#carousel-who-used"
                        data-slide-to="{{forloop.counter0}}"
                        {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    <section id="sign-up" class="subscribe">
        <div class="container">
            <div class="subscribe-success" style="display: none">
                <header>
                    <h2>{% trans "Registration successfully complete!" %}</h2>
                    <p>{% trans "Thank you for becoming part of this community" %}</p>
                </header>
            </div>

            <div class="subscribe-form">
                <header>
                    <h2>{% trans "Get the news" %}</h2>
                    <p>{% trans "Be informed of all our news" %}</p>
                </header>
                <form class="form-inline" method="post" ajax
                      ajax-success="$('.subscribe-success,.subscribe-form').toggle()">{% csrf_token %}

                    <div class="form-group">
                        <input type="email"
                               placeholder="{% trans "Type your e-mail" %}"
                               class="form-control"
                               name="{{form.email.html_name}}"
                               value="{{form.email.value|default:''}}">
                        <input type="submit" class="btn btn-info btn-lg" value="{% trans "Send" %}">
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
{% endblock %}
