{% extends 'base.html' %}

{% block content %}

<section id="top" class="home">
    <section id="top" class="jumbotron">
        <div class="container">
            <h2>Junte-se a uma comunidade que acredita na transformação por meio da bicicleta!</h2>
            <p>
                <a href="{% url 'cyclist_account_signup' 'requester' %}" class="btn btn-warning" role="button">
                Quero ajuda para pedalar</a>
                <a href="{% url 'cyclist_account_signup' 'volunteer' %}" class="btn btn-success" role="button">
                Já pedalo e quero ajudar</a>
            </p>
        </div>
    </section>

    <section class="statistics">
        <div class="container">
            <header>
                <h2>Nossa comunidade não para de crescer</h2>
            </header>
            <div class="box col-xs-6 col-md-3">
                <span class="number">1450</span>
                <span class="info">Bike Anjos</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">5887</span>
                <span class="info">Pedidos</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">231</span>
                <span class="info">cidades</span>
            </div>
            <div class="box col-xs-6 col-md-3">
                <span class="number">6</span>
                <span class="info">Países</span>
            </div>
        </div>
    </section>

    <section class="social container">
        <ul class="social-buttons list-inline unstyled">
            <li>
                <a href="https://www.facebook.com/bikeanjo" class="facebook">
                <i class="fa fa-facebook"></i><span class="sr-only">Facebook</span></a>
            </li>
            <li>
                <a href="https://plus.google.com/+bikeanjo/about" class="google">
                <i class="fa fa-google-plus"></i><span class="sr-only">Google</span></a>
            </li>
            <li>
                <a href="https://instagram.com/bikeanjo" class="instagram">
                <i class="fa fa-instagram"></i><span class="sr-only">Instagram</span></a>
            </li>
            <li>
                <a href="https://twitter.com/bikeanjo" class="twitter">
                <i class="fa fa-twitter"></i><span class="sr-only">Twitter</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCaFOaDBs3ixRF1wlTixKCZw" class="youtube">
                <i class="fa fa-youtube"></i><span class="sr-only">YouTube</span></a>
            </li>
        </ul>
    </section>

    <section class="how-it-works container">
        <header>
            <h2>Como funciona nossa plataforma?</h2>
            <p>Somos uma comunidade de ciclistas voluntários apaixonados pelo seu meio de transporte</p>
        </header>
        <div class="row">
            <div class="ask-help box col-md-4">
                <div class="icon"></div>
                <h3>Você pede ajuda</h3>
                <p>Na plataforma você encontra ajuda para aprender e praticar sua pedaladas, recomendações de rota, acompanhamento no trânsito e muito mais.</p>
            </div>
            <div class="find-help box col-md-4">
                <div class="icon"></div>
                <h3>Encontre seu Bike Anjo</h3>
                <p>Analisamos seu pedido em nossa base e conectamos com um bike anjo mais próximo de você para ajudar com o seu pedido.</p>
            </div>
            <div class="community box col-md-4">
                <div class="icon"></div>
                <h3>Faz parte da comunidade</h3>
                <p>A partir do momento que você recebe ajuda você poderá engajar outras pessoas a fazer o mesmo e transformar a sua cidade.</p>
            </div>
            <a href="#" class="btn btn-success col-xs-12"><u><b>Saiba mais</b></u> sobre como funciona o Bike Anjo</a>
        </div>
    </section>

    <section class="who-used container">
        <header>
            <h2>Confira quem já usou</h2>
            <p>Depoimentos de quem já fez parte da nossa comunidade</p>
        </header>

        <div id="carousel-who-used" class="carousel slide" data-ride="carousel"  data-interval="false">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-content">
                    <div class="card">
                        <div class="icon">
                            <img src="http://placehold.it/85x85">
                        </div>
                        <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat a est at vehicula. Aliquam semper fringilla neque nec tristique. Ut porta facilisis purus, quis dignissim urna sollicitudin vitae. Integer nec turpis at dolor blandit accumsan vel in quam.</p>
                        <p class="author">Lorem ipsum dolor</p>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                    <div class="card">
                        <div class="icon">
                            <img src="http://placehold.it/85x85">
                        </div>
                        <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat a est at vehicula.</p>
                        <p class="author">Lorem ipsum dolor</p>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                    <div class="card">
                        <div class="icon">
                            <img src="http://placehold.it/86x86">
                        </div>
                        <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat a est at vehicula. Aliquam semper fringilla neque nec tristique. Ut porta facilisis purus, quis dignissim urna sollicitudin vitae. Integer nec turpis at dolor blandit accumsan vel in quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat a est at vehicula. Aliquam semper fringilla neque nec tristique. Ut porta facilisis purus, quis dignissim urna sollicitudin vitae. Integer nec turpis at dolor blandit accumsan vel in quam.</p>
                        <p class="author">Lorem ipsum dolor</p>
                    </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#carousel-who-used" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-who-used" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Próximo</span>
            </a>

            <ol class="carousel-indicators">
                <li data-target="#carousel-who-used" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-who-used" data-slide-to="1"></li>
                <li data-target="#carousel-who-used" data-slide-to="2"></li>
            </ol>
        </div>
    </section>

    <section id="sign-up" class="subscribe">
        <div class="container">
            <div class="subscribe-form">
                <header>
                    <h2>Receba Novidades</h2>
                    <p>Fique por dentro de todas nossas novidades</p>
                </header>
                <form class="form-inline" action="/fhurl/" method="post" id="mailing">
                    <div class="form-group">
                        <input type="email" placeholder="Digite seu e-mail" class="form-control" name="email">
                        <input type="submit" class="btn btn-info btn-lg" value="Enviar">
                    </div>
                </form>
            </div>
            <div class="subscribe-success" style="display:none;">
                <header>
                    <h2>Cadastro efetuado com sucesso!</h2>
                    <p>Obrigado por fazer parte dessa comunidade</p>
                </header>
            </div>
        </div>
    </section>
</section>
{% endblock %}
