<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Bike Anjo</h1>

        <ul>
            <li><a href="{% url 'socialaccount_signup' %}">Cadastrar-se</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>

        <h2>Seja um bike anjo</h2>
        <p>Cadastra-se agora se você quer ajudar as pessoas a pedalar</p>

        <h2>Peça um bike anjo</h2>
        <p>Se você quer aprender a pedalar no trânsito, sugestões de rotas ou mesmo aprender a dar as primeiras pedaladas, cadastre-se</p>

        {% if user.is_authenticated %}
            Welcome back {{ user.username }}
        {% else %}
            You are not logged in
        {% endif %}
    </body>
</html>
